.top{
	width:100%;	
	background-color:#cccccc;
}

.top .inner{
	max-width:970px;
	height:30px;
	margin:auto;
	color:#4d4d4d;
}

.top .inner a{
	color:#4d4d4d;
	text-decoration:none;
	display:inline-block;		
	padding:8px 10px; 	
	white-space:nowrap;
	overflow:hidden;
	height:14px;
}

.top .inner a.selected{
	background-color:#ffffff;
}

.top .inner .dot{
	margin:0 6px;
}

.top .inner > div{	
	width:49.5%;
	float:left;
}

.top .inner  .left{	
	white-space:nowrap;
	overflow:hidden;
}

.top .right{
	text-align:right;
}

.header{
	width:100%;
	height:75px;
	background-color:#e6e6e6;	
}

.header #comm3_logo{
/* bug fix: should be margined here intead of padding image for 7 px */
	margin-top: 4px;
	height:60px;
	overflow:hidden;	
}


.header #comm3_logo img{
	height:100%;	
}

.header table{
	width:970px;
	margin:auto;
	clear:both;
}

.header #search_table_holder{
	text-align:right;
	width:100%;
	margin-top:15px;	
}


form[name='comm3_search_form'] {
	float:right;
}
#comm3_search_text, #comm3_search_submit{
	margin-top: 1em;
	font-family: Gulim,GulimChe,Dotum;
	font-size: 1em;
	padding:0 10px;
	/***HAS IE7 BUG***
	padding: 10px;
	border: 2px solid black;
	*/
}

#comm3_search_text {
	box-shadow: -1px 2px 3px #d3d3d3 inset;
	width: 20em;
	width: 20em;	
	border: 2px solid black;
	height:35px;
}
#comm3_search_submit {
	background-color: black;
	color:white;	
	border:0;
	height:39px;
	cursor: pointer;	
}



.main-menu{
	width:100%;		
	margin-bottom:10px;
	overflow:hidden;
	background: #444444; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #444444 0%, #333333 58%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(58%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #444444 0%,#333333 58%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #444444 0%,#333333 58%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #444444 0%,#333333 58%,#222222 100%); /* IE10+ */
background: linear-gradient(to bottom, #444444 0%,#333333 58%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-8 */
}

.main-menu #comm3_main_menu{
	max-width:970px;
	margin:auto;
	padding:0;		
	height:44px;	
}

.main-menu #comm3_main_menu .comm3_menu{
	list-style:none;	
	overflow:hidden;
	float:left;
	height:44px;
}


.main-menu #comm3_main_menu .comm3_menu[page="admin-menu"]{
	margin-right:0;	
}

.main-menu #comm3_main_menu .comm3_menu a{
	font-family: '맑은 고딕', AppleGothic;
	color:#ffffff;
	display:inline-block;	
	text-align:center;	
	overflow:hidden;
	font-size:11pt;
	font-weight:normal;
	line-height:30px;	
	height: 30px;
	text-decoration:none;
	padding:7px 15px;	
}

.main-menu #comm3_main_menu .comm3_menu a:hover{	
	background-color:#000000;
}

.comm3-menu-selected a{
	background-color:#000000;	
}
