/**SIDEBAR*/
.sidebar {
	word-break: break-all;
}
.sidebar > .login {
	margin-bottom: 10px;
}
/**COMPANY BANNER*/
.sidebar .company-banner {
	height: 115px;
	overflow: hidden;
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
}

.sidebar .company-banner img {
	width: 100%;
	height: 100%;
}

/**SIDEBAR BANNER*/
.sidebar .sidebanner {
	width: 208px;
	overflow: hidden;
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
}

.sidebar .sidebanner img {
	width: 100%;
}

/**POPULAR POSTS*/
.sidebar .popular-posts {
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
	height: 140px;
}

.sidebar .popular-posts a {
	text-decoration: none;
}

.sidebar .popular-posts .title {
	padding:0 0 4px 5px;
	height: 25px;
	line-height: 25px;
	background: #fcfcfc;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
	color:#444444;
}

.sidebar .popular-posts .title img {
	margin: 0 2px 0 0;
	position: relative;
	top: -2px;
	margin-right:4px;
}

.sidebar .popular-posts .popular-posts-items {
	padding: 5px;
}

.sidebar .popular-posts .popular-posts-items > .row {
	border-bottom: dashed 1px #bebebe;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	word-break:break-all;
}

.sidebar .popular-posts .popular-posts-items .last-post {
	border-bottom: 0;
}

.sidebar .popular-posts .post-num {
	display: inline-block;
	width: 14px;
	height: 15px;
	line-height: 15px;
	font-size: 8pt;
	background: #1a1a1a;
	color: #ffffff;
	text-align: center;
	margin-right: 5px;
}
.sidebar .popular-posts .popular-posts-items table td .num_views {
	font-size: 11px;
}
.sidebar .popular-posts .popular-posts-items table td .num_comments {
	color: #cc4235;
	font-size: 11px;
}

.popular-views tr td{
	border-bottom: 0 !important;
}

/**LATEST COMMENTS*/
.sidebar .latest-comments {
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
}

.sidebar .latest-comments a {
	text-decoration: none;
}

.sidebar .latest-comments .title {
	padding: 3px 0 3px 5px;
	background: #f7f7f7;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
}

.sidebar .latest-comments .title img {
	margin: 0 2px 0 0;
	position: relative;
	top: -2px;
}

.sidebar .latest-comments .latest-comments-items {
	padding: 10px;
}


/**LATEST POSTS*/
.sidebar .com3-latest-posts {
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
	height: 210px;
}

.sidebar .com3-latest-posts a {
	text-decoration: none;
}

.sidebar .com3-latest-posts .title {
	padding-left: 5px;
	line-height: 24px;
	height: 28px;
	background: #fcfcfc;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
	color:#444444;
}

.sidebar .com3-latest-posts .title img {
	margin: 0 2px 0 0;
	position: relative;
	top: -2px;
	margin-right:4px;
}

.sidebar .com3-latest-posts .com3-latest-posts-items {
	padding: 0 7px 0 7px;
}

.sidebar .com3-latest-posts .com3-latest-posts-items tr td {
	border-bottom: dashed 1px #bebebe;
	padding: 10px 0 9px 0;
}
.sidebar .com3-latest-posts .com3-latest-posts-items tr td .subject {
	height: 34px;
	line-height: 17px; 
	overflow: hidden;
}

.sidebar .com3-latest-posts .com3-latest-posts-items tr.last-item td {
	border-bottom: 0;
}

.sidebar .com3-latest-posts .com3-latest-posts-items tr td img {
	margin-right: 10px;
}

.sidebar .com3-latest-posts .com3-latest-posts-items .post-image img {
	border: solid 1px #cccccc;
}

.sidebar .com3-latest-posts .com3-latest-posts-items .num_comments {
	color: #cc4235;
}
