/**SIDEBAR*/
.sidebar {
	word-break: break-all;
}

/**COMPANY BANNER*/
.sidebar .company-banner {
	margin-top: 10px;
	width: 210px;
	height: 100px;
	overflow: hidden;
	border: solid 1px #bbbbbb;
}

.sidebar .company-banner img {
	width: 100%;
}

/**SIDEBAR BANNER*/
.sidebar .sidebanner {
	margin-top: 10px;
	width: 208px;
	overflow: hidden;
	border: solid 1px #bbbbbb;
}

.sidebar .sidebanner img {
	width: 100%;
}

/**POPULAR POSTS*/
.sidebar .popular-posts {
	margin-top: 10px;
	border: solid 1px #bbbbbb;
}

.sidebar .popular-posts a {
	text-decoration: none;
}

.sidebar .popular-posts .title {
	padding: 3px 0 3px 5px;
	background: #f7f7f7;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
}

.sidebar .popular-posts .title img {
	margin: 0 7px 0 0;
}

.sidebar .popular-posts .popular-posts-items {
	padding: 5px;
}

.sidebar .popular-posts .popular-posts-items table td {
	border-bottom: dashed 1px #bebebe;
}

.sidebar .popular-posts .popular-posts-items table tr.last-post td {
	border: 0;
}

.sidebar .popular-posts .post-num {
	padding: 4px;
	background: #1a1a1a;
	color: #ffffff;
	text-align: center;
}
.sidebar .popular-posts .popular-posts-items table td .num_views {
	font-size: 11px;
}
.sidebar .popular-posts .popular-posts-items table td .num_comments {
	color: #cc4235;
	font-size: 11px;
}

.popular-views tr td{
	border-bottom: 0 !important;
}

/**LATEST COMMENTS*/
.sidebar .latest-comments {
	margin-top: 10px;
	border: solid 1px #bbbbbb;
}

.sidebar .latest-comments a {
	text-decoration: none;
}

.sidebar .latest-comments .title {
	padding: 3px 0 3px 5px;
	background: #f7f7f7;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
}

.sidebar .latest-comments .title img {
	margin: 0 7px 0 0;
}

.sidebar .latest-comments .latest-comments-items {
	padding: 10px;
}


/**LATEST POSTS*/
.sidebar .latest-posts {
	border: solid 1px #bbbbbb;
}

.sidebar .latest-posts a {
	text-decoration: none;
}

.sidebar .latest-posts .title {
	padding: 3px 0 3px 5px;
	background: #f7f7f7;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
}

.sidebar .latest-posts .title img {
	margin: 0 7px 0 0;
}

.sidebar .latest-posts .latest-posts-items {
	padding: 0 7px 7px 7px;
}

.sidebar .latest-posts .latest-posts-items tr td {
	border-bottom: dashed 1px #bebebe;
	padding: 10px 0;
}

.sidebar .latest-posts .latest-posts-items tr.last-item td {
	border-bottom: 0;
}

.sidebar .latest-posts .latest-posts-items tr td img {
	margin-right: 10px;
}

.sidebar .latest-posts .latest-posts-items .post-image img {
	border: solid 4px #e5e5e5;
	outline: solid 1px #cccccc;
}

.sidebar .latest-posts .latest-posts-items .num_comments {
	color: #cc4235;
}
