body {
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
}


.layout {
	width: 100%;
}
.layout, .layout a {
	font-family: Dotum,'맑은 고딕', AppleGothic;
}
.layout .body-wrapper {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
}

.layout .body-wrapper .main-content {
	width: 970px;
	margin: auto;
}

.layout .body-wrapper .main-content .content {
	width: 750px;
	float: left;
}

.layout .body-wrapper .main-content .sidebar {
	float: right;
	width: 210px;
}
/***index***/

.layout .body-wrapper .main-content .images_with_caption_wrapper{	
	margin-bottom:12px;
	height:158px;
}

.layout .body-wrapper .main-content .bulleted_list{
	border:1px solid #bbbbbb;
	margin-bottom:10px;
	padding:10px;
}

.layout .body-wrapper .main-content .timed_list{
	margin-bottom:10px;
	height:142px;
}

.layout .body-wrapper .main-content .timed_list .right{	
	margin-left:10px
}

.layout .body-wrapper .main-content .timed_list .right, .layout .body-wrapper .main-content .timed_list .left{	
	float:left;
	width:370px;		
	height:130px;
}

.layout .body-wrapper .main-content .timed_list_with_images .right{
	margin-left:10px;
}

.layout .body-wrapper .main-content .timed_list_with_images .left, .layout .body-wrapper .main-content .timed_list_with_images .right{
	float:left;
	width:370px;	
	height: 210px;
}

.layout .body-wrapper .main-content .images_with_caption_2{	
	border:1px solid #bbbbbb;
	margin-bottom:10px;
	padding:10px;
}

/**THEME SPECIFIC CONFIG CSS */
.config .forum-config select {
	width: 100px;
	position: relative;
	height: 25px;
	top: -3px;
}

/**input contact num**/
input[name='tel']{
	padding:3px;
	width:170px;
}

/* register_result.skin.php */
.registration-logo img {
	width: 100%;
}

.registration-logo {
	max-width: 330px;
	max-height: 50px;
}

.visit_stats {
	float:right;
	width:40%;
}

#visit > .title {
	float:left;
}

