.layout {
	width: 100%;
	font-size: 10pt;
}

.layout .body-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

.layout .body-wrapper .main-content {
	max-width: 970px;
	margin: auto;
	border: solid 1px gray;
}

.layout .body-wrapper .sidebar {
	float: right;
	width: 210px;
}