.layout {
	width: 100%;
	font-size: 10pt;
	font-family: '맑은 고딕', AppleGothic;
}

.layout .body-wrapper {
	width: 100%;
	margin: 20px 0 0 0;
	padding: 0;
}

.layout .body-wrapper .main-content {
	width: 970px;
	margin: auto;
}

.layout .body-wrapper .main-content .content {
	width: 750px;
}

.layout .body-wrapper .main-content .sidebar {
	float: right;
	width: 210px;
}