#logo {
	padding: 1.5em 0 0 2em;
}

#logo a {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	font-family: Arial;
}

#tnb a {
	padding: 0 1em 0 0;
	font-size: 12pt;
	color: #ffffff;
	font-family: Arial;
}

#hd {
	background: #5e8d6e;
	height: 70px;
}

#hd_wrapper {
	background: #71a583;
	height: 70px;
}

#hd_sch {
	left:270px!important;
}
#hd_sch #sch_stx {
	width: 240px!important;
}


/*container*/
body {
	background: #f3f3f3;
}

#aside {
	border: 0 !important;
	
}

#wrapper {
	border: 0 !important;
	background: #ffffff;
}

#container > div {
	margin: 0 auto;
	display: inline-block;
	margin: 0;
	padding: 0;
 	vertical-align: top;
	font-family: Arial;
}


#container > div > div, #container .secondary, #container .primary {
	box-shadow: inset 0 0 0 1px #e4e6e4;
	border: solid 1px #98a199;
	padding: 1em;
	margin: 0.33em;
	background: #f8f8f8;
} 

#container .primary, #container .secondary {
	height: 150px;
}

#container .primary h2 , #container .secondary h2 {
	margin-bottom: 0.75em;
}

#container ul li {
	list-style: none;
}

#container .important-post ul li {
	margin-bottom: 1em;
}

#container .important-post ul li:last-child {
	margin: 0;
}

#container ul li span {
	padding-right: 1.5em;
}

#container ul li a {
	color: #787878;
}

#container ul {
	margin: 0;
	padding: 0;
}

#container h2 {
	text-transform: uppercase;
	font-family: Arial;
	color: #585858;
	font-size: 11.45pt;
}

#container .main-banner {
	margin-bottom: 0.75em;
}

#container .main-banner > img {
	margin: 0.5em 0 0.5em 0;
	width: 100%;
}

#container .main-banner > p {
	text-align: center;
	font-style: italic;
	color: #838383;
}


.banner {
	margin-top: 1em;
	position: relative;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.banner p {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #333333;
	color: #ffffff;
	opacity: 0.8;
	padding: 0.75em;
}
