#logo {
	padding: 0.5em;
	padding-left: 1.5em;
}

#logo img {
	margin-right: 0.2em;
}

#logo a {
	font-size: 24.5px;
	color: #ffffff;
	text-decoration: none;
	font-family: Lucida Sans Unicode;
}

#tnb li {
	margin: 0 !important;
}

#tnb a {
	padding: 0 1.5em 0 0;
	font-size: 12pt;
	color: #ffffff;
	font-family: Gulim;
}

#hd {
	background: #0c95ce;
	height: 60px;
	border-bottom: solid 2px #076489;
}

#hd_wrapper {
	background: #0c95ce;
	height: 60px;

}


/*container*/
body {
	background: #f3f3f3;
}

#container {
	border: 0 !important;
	width: 699px;
}

#aside {
	border: 0 !important;
	padding: 15px 16px 15px 15px
}



#wrapper {
	border: 0 !important;
	background: #ffffff;
}

.footer-text {
	margin-top: 1em;
	clear:both;
	float: right;
}

.footer-text p {
	font-family: Gulim;
	color: #acacac;
	text-transform: uppercase;
	padding: 1em;
}

.selected:hover:after, .selected:after{
	width: 0;
    height: 0;
    position: absolute;
    content:"";
	display: block;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 12px solid #076489;

}

#aside input[type='submit'] {
	border: 1px solid #blue;
	background-color: #f9f9f9;
	color: #585858;
	border-radius: 4px;
	height: 30px;
	padding: 0 15px;
	cursor: pointer;
}
#aside input[type='submit']:hover {
	border: 1px solid orange;
	background-color: orange;
	color: #ffffff;
}

.lt {
	margin: 0.3em;
}