#container .post-container {
	padding-top: 1em;
	border-bottom: solid 1px #959595;
	padding-bottom: 1em;
	word-break: break-word;
	font-family: '맑은 고딕', AppleGothic;
	min-height: 80px;
}

#container .post-container .post-content {
	position: relative;
}

#container .post-container .post-content .post-images {
	float: left;
	margin: 0 0.5em 0 0;
}

#container .post-container .post-content img {
	width: 200px;
	height: 160px;
	display: inline-block;
	margin: 0.1em;
	padding: 0;
}

#container .post-container a {
	text-decoration: none;
	color: #555555;
}

#container .subject-container {
	height: 25px;
	line-height: 25px;
	max-width: 500px;
	margin-bottom: 5px;
	overflow: hidden;
}

#container .date-author-container {
	background: #bfb840;
	font-size: 9pt;
	display: inline-block;
	padding: 0 10px;
	height: 23px;
	line-height: 23px;
	color: #ffffff;
	border-radius: 3px;
}
#container .date-author-container b {
	color: #194a63;
	margin-right: 5px;
}
#container .date-author-container span {
	margin-right: 10px;
}

#container .subject {
	font-size: 10pt;
	font-weight: bold;
	color: #645c1d;
}
