.blog-latest {
	margin: 0 0 10px 0;
}
.blog-latest .blog-post-container td{
	border-bottom: 1px solid #d5d5d5;
}

.blog-latest .blog-post-container a:hover {
	text-decoration: none;
}

.blog-latest .blog-post-container .photo {
	padding: 15px 0;
}
.blog-latest .blog-post-container .photo img {
	width: 150px;
	height: 100px;
}
.blog-latest .blog-post-container .right {
	padding: 15px 0;
}

.blog-latest .blog-post-container .right .date {
	color: #929293;
}
.blog-latest .blog-post-container .right .date b {
	color: #3290cd;
	margin-right: 5px;
}
.blog-latest .blog-post-container .right .subject  {
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	margin: 3px 0;
}

.blog-latest .blog-post-container .right .subject a {
	font-size: 11pt;
	color: #555555;
}

.blog-latest .blog-post-container .right .content {
	line-height: 15px;
	height: 60px;
	overflow: hidden;
	word-break:break-all;
}

.blog-latest .blog-post-container .right .content  a {
	color: #929293;
}
/*
#container .post-container {
	padding-top: 1em;
	border-bottom: solid 1px #959595;
	padding-bottom: 1em;
	word-break: break-word;
	font-family: '맑은 고딕', AppleGothic;
	min-height: 80px;
}

#container .post-container .post-content {
	position: relative;
}

#container .post-container .post-content .post-images {
	float: left;
	margin-right: 10px;
}

#container .post-container .post-content img {
	width: 150px;
	display: inline-block;
	margin: 0.1em;
	padding: 0;
}

#container .post-container a {
	text-decoration: none;
	color: #555555;
}

#container .subject-container {
	height: 25px;
	line-height: 25px;
	max-width: 500px;
	margin-bottom: 5px;
	overflow: hidden;
}

#container .date-author-container {
	font-size: 9pt;
	height: 23px;
	line-height: 23px;
	color: #929293;
	position: relative;
	top: -3px;
}
#container .date-author-container b {
	color: #3290cd;
	margin-right: 5px;
}
#container .date-author-container span {
	margin-right: 10px;
}

#container .subject {
	font-size: 10pt;
	font-weight: bold;
	color: #645c1d;
}
.post-container  .button {
	display: inline-block;
	color: #ffffff;
	background-color: #666666;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	margin-top: 10px;
}

*/