.community_images_with_captions  {
	height: 158px;
}
.community_images_with_captions  .title{
	border-bottom:1px solid #bbbbbb;
	margin-bottom:10px;
	padding-left: 26px;
	height: 28px;
	line-height: 28px;
	font-weight:bold;
	background-color:#fcfcfc;
	position:relative;
}

.community_images_with_captions  .title a:hover {
	text-decoration: none;
}

.community_images_with_captions  .title img{
	position:absolute;
	top:8px;
	left:7px;
}

.community_images_with_captions  .title .more-button {
	position: absolute;
	right: 0;
	margin-right: 9px;
	font-weight:normal;
	color:#808080;
	font-size: 9pt;
	text-decoration:none;
	top: 2px;
}

.community_images_with_captions_container {
	width:172px;	
	float: left;
	margin-left:11px;	
	margin-bottom:10px;
}

.community_images_with_captions_container.no-margin {
	margin-right:0;
}

.images_with_captions .img-wrapper{
	width:168px;
	height:85px;
	padding: 2px;
	border:1px solid #bbbbbb;
}

.images_with_captions .img-wrapper img {
	width:100%;
	height: auto;
}


.images_with_captions .caption {
	width:160px;
	text-align:center;
	overflow:hidden;
	margin: 0.4em auto 0;
	line-height: 1em;
	height: 1em;
	word-break: break-all;
}

.images_with_captions .caption a{	
	font-family:dotum;
	text-decoration:none;
}