<?xml version="1.0"?>
<config>
	<type>pc</type>
	<name>
		<en>Basic Theme</en>
		<ko>베이직 테마 (연습용)</ko>
	</name>
	<version>0.1</version>
	<short>
		<ko>베이직 테마로서 연습용입니다.</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>0</max>
		</top>
		<left>
			<name>
				<en>Top Left Menu</en>
				<ko>상단 왼쪽 메뉴</ko>
			</name>
			<max>4</max>
		</left>
		<right>
			<name>
				<en>Menu Top Right</en>
				<ko>상단 오른쪽 메뉴</ko>
			</name>
			<max>4</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>0</max>
		</bottom>
	</menu>
</config>