[submodule "theme/theme-basic"]
	path = theme/theme-basic
	url = https://github.com/withcenter/theme-basic
[submodule "theme/slide"]
	path = theme/slide
	url = https://github.com/thruthesky/slide
[submodule "widget/sample-widget"]
	path = widget/sample-widget
	url = https://github.com/thruthesky/sample-widget
[submodule "mall"]
	path = mall
	url = https://github.com/withcenter/mall
[submodule "module/mall"]
	path = module/mall
	url = https://github.com/withcenter/mall
