[submodule "theme/theme-basic"]
	path = theme/theme-basic
	url = https://github.com/withcenter/theme-basic
[submodule "theme/slide"]
	path = theme/slide
	url = https://github.com/thruthesky/slide
[submodule "widget/sample-widget"]
	path = widget/sample-widget
	url = https://github.com/thruthesky/sample-widget
[submodule "mall"]
	path = mall
	url = https://github.com/withcenter/mall
[submodule "module/mall"]
	path = module/mall
	url = https://github.com/withcenter/mall
[submodule "theme/gallery_4_git"]
	path = theme/gallery_4_git
	url = https://github.com/x-theme/gallery_4_git
[submodule "widget/comment-line"]
	path = widget/comment-line
	url = https://github.com/x-widget/comment-line
[submodule "theme/mall"]
	path = theme/mall
	url = https://github.com/x-theme/mall
[submodule "widget/post-with-image"]
	path = widget/post-with-image
	url = https://github.com/x-widget/post-with-image
