.stories-container .travel-story {
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
	font-family: Gotum, Arial;
	margin-top: 0.5em;
	position: relative;
	height: 200px;
}

.stories-container a{
	text-decoration:none;
}

.stories-container .travel-story table img {
	width:100%;
}

.stories-container .travel-story table .img-container {
	padding: 1px;
	border: solid 1px #d5d5d5;
	border-radius:3px;
}

.stories-container .travel-story table .img-wrapper {
	width:84px;
	height:84px;
	overflow:hidden;
}

.stories-container .travel-story table .travel-title {
	font-weight: bold;
	font-size: 11pt;
	color: #5d5d5d;
}
.stories-container .travel-story table .travel-meta {
	color: #a9a9a9;
	font-style: italic;
}

.stories-container .travel-story .more-button {
	position: absolute;
	bottom: 0;
	right: 5px;
}
.stories-container .travel-story table .travel-content {
	font-family: Malgun Gothic;
	font-size: 9pt;
	color: #5d5d5d;
}
.stories-container .travel-story table .more-button > div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 0.5em;
}


