body {
	font-size:9pt !important;
}

#logo {
	padding:0!important;
}

#logo a {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 3px;
	color: #494949;
}

#logo a .x {
	color: #FF4000;
}


#hd_sch {
	left:270px!important;
}
#hd_sch #sch_stx {
	width: 240px!important;
}
#aside {
	float:left;
}

#container {
	border-right: 0;
	border-left: 1px solid #dde4e9;
	padding-top:0 !important;
	padding-bottom:0 !important;
}


.left-menu {
	margin: 0 0 1em;
	padding: 0;
	list-style:none;
}
.left-menu > div {
	width: 140px;
}
.left-menu a {
	display: inline-block;
	padding: 1em;
	background-color: #e9e9e9;
	width: 100%;
}


#ft p {
	padding: 2em!important;
	color: white;
	text-align:center;
}



.page-header {
	margin: 0.4em 0;
	padding: 1em;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	font-size: 1.6em;
	font-weight: bold;
	background-color: #efefef;
	letter-spacing: 0.1em;
}



#wrapper > .data {
	line-height: 1.4em;
}



.site-create-submit {
	padding: 0.4em 2em !important;
}



#index-page > .content {
	padding: 1em 2em;
}

#index-page td > .content {
	padding: 1em 2em;
}
