body {
	font-size:9pt !important;
}

#logo {
	padding:0!important;
}

#logo a {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 3px;
	color: #494949;
}

#logo a .x {
	color: #FF4000;
}


#hd_sch {
	left:270px!important;
}
#hd_sch #sch_stx {
	width: 240px!important;
}
#aside {
	float:left;
}

#container {
	border-right: 0;
	border-left: 1px solid #dde4e9;
}


.left-menu {
	list-style:none;
	padding: 0;
	margin: 0;
}
.left-menu > div {
	width: 140px;
}
.left-menu a {
	display: inline-block;
	padding: 1em;
	background-color: #cdcdcd;
	width: 100%;
}


#ft p {
	padding: 2em!important;
	color: white;
	text-align:center;
}



.page-header {
	margin: 0.4em 0;
	padding: 1em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-size: 1.6em;
	font-weight: bold;
}
