#header{
	width:100%;
	background-color:#f2f6f7;
	margin-bottom:20px;
}

#header > .inner{
	border-bottom:2px solid #1d576d;
}

#header > .inner .logo_and_top_menu{
	max-width:970px;
	margin:auto;
	padding:25px 0 30px 0;	
}

#header > .inner .logo_and_top_menu .logo{
	width:30%;
	float:left;
}

#header > .inner .logo_and_top_menu  ul{
	width:70%;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
	text-align:right;
}

#header > .inner .logo_and_top_menu ul li{
	display:inline-block;
	padding:5px;	
}

#header > .inner .logo_and_top_menu ul li a{
	color:#494949;
	text-decoration:none;
}

#header .main_menu{
	background-color:#3bafda;
}

#header .main_menu .inner{
	max-width:970px;
	margin:auto;
}

#header .main_menu .inner ul{
	list-style:none;
	padding:0;
	margin:0;	
}

#header .main_menu .inner ul li{
	position:relative;
	display:inline-block;	
	margin-left:46px;
}

#header .main_menu .inner ul li.first_item{	
	margin-left:0;
}

#header .main_menu .inner ul li a{
	font-size:1.3em;
	color:#ffffff;
	display:inline-block;
	padding:20px 10px;	
	text-decoration:none;
}

#header .main_menu .inner ul li .underbar{	
	display:none;
	position:absolute;
	width:100%;
	border-bottom:2px solid #e6e9ed;
	bottom:10px;
	left:0;	
}

#header .main_menu .inner ul li:hover .underbar{
	display:block;
}

/*wrapper*/
.wrapper{
	width:100%;
	max-width:970px;
	margin:auto;
}

/*aside*/
.wrapper .aside{
	width:20%;
	float:left;
}

/*content*/
.wrapper  .container{
	width:80%;	
	float:left;
}

/*index*/
#index_page{
	margin-left:10px;
}

#index_page .top-header{
	background-color:#434a54;	
	border-radius:3px;
	margin-bottom:10px;
}

#index_page .top-header .inner{
	padding:20px;
	font-size:1.3em;
	color:#f5f7fa;
}

#index_page .top-header{	
	width:100%;
}

#index_page .content{	
	width:100%;
}