.create-site .wrapper {
	position: relative;
}

.create-site input[type='text'] {
	border: solid 1px #e3e3e3;
}

.create-site div {
	margin: 0.5em;
}

.create-site > div {
	display: inline-block;
	vertical-align: top;
}

.create-site div input[name='title'] {
	width: 19.5em;
}

.create-site input[type='submit'] {
	border: none;
	width: 70px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	background: #333333;
	color: #ffffff;
	position: absolute;
	bottom: 11px;
	right: 5px;
}

.create-site h2 {
	font-size: 1.2em;
	margin: 1em;
}

.create-site ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}

.create-site ul li { 
	border-bottom: solid 1px #c2c2c2;
	padding: 0.5em;
	border-left: solid 0.5em #c3c3c3;
}

.create-site ul li:last-child {
	border-bottom: 0;
} 

.create-site ul li:hover {
	background: #333333;
	border-left: solid 0.5em #811717;
}

.create-site ul li:hover a {
	color: #ffffff;
}

.create-site ul li a {
	text-decoration: none;
}
.create-site select[name='site-type'] {
	height: 27px;
	width: 160px;
	padding: 0 10px;
	color: #555555;
	font-family: '맑은 고딕', AppleGothic;
}

.config h1 {
	font-size: 1.5em;
	margin: 1em;
}

.config h2  {
	font-size: 1.2em;
	margin: 0.5em;
}

.config input[type='text']{
	border: solid 1px #c3c3c3;
}

.config table {
	border-collapse: collapse;

}
/*
.config table tr td {
	border-top: 1px solid #ececec;
}
*/


/*

.multisite-menu {
	margin: 0;
	padding: 0;
	background: #333333;
}

.multisite-menu a {
	color: #ffffff;
	text-decoration: none;
}

.multisite-menu li:hover {
	background: #444444;
}

.multisite-menu li {
	list-style-type: none;
	display: inline-block;
}

.multisite-menu li a {
	display: inline-block;
	padding: 1em;
}
*/

.config fieldset {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}
.config fieldset legend {
	color: #555555;
	font-size: 10pt;
	text-indent: 0;
	position: relative;
	line-height: 100%;
	padding: 0 10px;
	font-weight: bold;
}

.message {
	border: 2px solid #555555;
	color: blue;
	font-weight: bold;
	background-color: #d5d5d5;
	text-align: center;
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 3px;
}

input[type='submit'] {
	border: 1px solid #blue;
	background-color: #f9f9f9;
	color: blue;
	border-radius: 4px;
	height: 30px;
	padding: 0 15px;
	cursor: pointer;
}
input[type='submit']:hover {
	border: 1px solid orange;
	background-color: orange;
	color: #ffffff;
}

.item {
	display: inline-block;
	background-color: #333333;
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	border-radius: 3px;
	color: #ffffff;
	margin: 0 20px 4px 0;
}

/*
table {
	margin: 10px 0;
}

table tr td {
	padding: 3px 10px;
	border-bottom: 1px solid #333333;
	color: #555555;
}
*/
table > .header {
	background-color: #333333;
}

table > .header td {
	border-left: 1px solid #ffffff;
	color: #ffffff;
	padding: 5px 10px;
	font-size: 10pt;
}
table > .header td:first-child {
	border-left: 0;
}

.button {
	background-color: #f9f9f9;
	color: #333333;
	border: 1px solid #333333;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
}

.button:hover {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
}

/* theme config */
.config-theme {
	font-family: '맑은 고딕', AppleGothic;
	width: 100%;
}
.config-theme table {
	margin: 0;
}

.config-theme td {

	color: #ffffff;

}

.config-theme .theme-thumb {
	position: relative;

	overflow: hidden;
}

.config-theme .theme-thumb table {
	position: absolute;
	bottom: 0;
	background: #333333;
	width: 100%;
}

.config-theme .theme-thumb p {
	position: absolute;
	top: 0;
	padding: 0.5em;
	background: #F03000;
	width: 100%;
}

.config-theme .theme-thumb {

	display: inline-block;
	width: 320px;
	height: 240px;
}

.config-theme .thumb-list {	
	margin-top: 0.5em;
	text-align: center;
}

.config-theme .theme-thumb img {
	width: 100%;
}

.config-theme .theme-thumb table, .config-theme .theme-thumb a {
	color: #ffffff;
	text-decoration: none;
}

.config-theme button[name='theme'] {
	border: none;
	background: transparent;
	color: #ffffff;
	width: 320px;
	height: 240px;
}

.config-theme button[name='theme']:focus {
	outline: none;
}

.config-theme button[name='theme']:active {
	outline: none;
}

.config-theme button[name='theme']:hover {
	outline: none;
}

.config-theme > .title {
	font-size: 1.250em;
	color: #004475;
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	text-align: center;
}

.site-global select {
	padding: 0.25em 0 0.25em 0;
}
.site-global textarea {
	width: 25em;
	height: 10em;
}

.site-global > label {
	width: 100px;
	display: inline-block;
	margin-bottom: 2em;
	vertical-align: top;
}

.site-global .config-img {
	display: inline-block;
	margin: 0 2em 2em 0;
	vertical-align: top;
}

.site-global .config-img img {
	margin: 0.5em 0 0.5em 0
}


/* admin_multisite.php */

.add-new-site {
	float: right;
	display: inline-block;
	width: 120px;
	height: 20px;
	background-color: #616161;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.add-new-site:hover {
	text-decoration: none;
}

.admin-multisite-table .header {
	background-color: #8f8f8f;
	color: #ffffff;
}

.admin-multisite-table tr td {
	height: 30px;
	line-height: 30px;
	padding: 0; 
	border-left: 0;
	font-size: 1em;
}
.admin-multisite-table tr .site-title {
	width: 200px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 5px;
}
.admin-multisite-table .background {
	background-color: #efefef;
	color: #7a7a7a;
}

/*view sites*/
.view-site {
	font-family: '맑은 고딕', AppleGothic;
}



.view-site ul{
	list-style:none;
	padding:0;
	margin:0;
}

.view-site ul li{
	font-size:1.3em;
	display: inline-block;
}

.view-site ul li a{
	display:inline-block;
	color:#565656;
	text-decoration:none;
	border-bottom:1px solid #d5d5d5;
	border-left:4px solid #d5d5d5;
	width:100%;
	padding: 4px;
}

.view-site ul li.last-count a{
	border-bottom:none;
}

.view-site ul li a:hover{
	color:#f7f7f7;
	background-color:#000000;
	border-left:4px solid orange;
}

.view-site .info{
	padding:4px 0;
	font-size: 9pt;
}	
.view-site .info .item2 {
	width: 90px;
	display: inline-block;
	font-weight: bold;
	padding-left: 10px;
}
/* create.php */
.create-site {
	width: 100%;
	font-family: '맑은 고딕', AppleGothic;
}
.create-site .wrapper{
	position: relative;
}

.create-site  .main-title, .create-site  .title, .view-site .title {
	background-color: #f9f9f9;
	color: #555555;
	border: 1px solid #d5d5d5;
	height: 30px;
	text-align: center;
	margin: 0;
	margin-left: 10px;
	font-weight: bold;
	font-size: 10pt;
}

.create-site  .title, .view-site  .title  {
	line-height: 30px;
	margin-bottom: 10px;
}
.create-site  input[type='text'] {
	height: 25px;
	line-height: 25px;
	width: 150px;
	padding: 0 10px;
}
.create-site input[type='submit'] {
	float: right;
}

.create-site .item {
	margin-left: 5px;
	padding-left: 10px;
}

/* create_success.php */
.success-fail-message {
	border: 1px solid #d5d5d5;
	color: #555555;
	background-color: #f9f9f9;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	margin-bottom : 10px;
}
.success-fail-message .inner {
	border: 1px solid #ffffff;
}

/* site.list.php */
.site-list, .forum-list {
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	border-radius: 3px;
	font-family: '맑은 고딕', AppleGothic;
	font-size: 10pt;
}
.site-list .inner, .forum-list .inner {
	margin: 1px solid #ffffff;
	border-radius: 3px;
	padding: 10px 20px;
}
.site-list .inner > .title, .forum-list .inner > .title {
	background-color: #386b90;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 3px;
	font-size: 1.125em;
	font-weight: bold;
	color: #fbfbfb;
}
.site-list .inner .item2, .site-list .inner .item3  {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-weight: bold;
	color: #594e2b;
	width: 70px;
	border: 1px solid #666666;
	border-radius: 3px;
	margin-right: 10px;
}
.site-list .inner .item3  {
	width: 40px;
	margin-left: 100px;
}
.site-list .inner  .sites {
	border-bottom: 1px solid #b4b7b8;
	padding: 10px;
	position: relative;
}

.site-list .inner  a:hover {
	text-decoration: none;
}
.site-list .inner  .sites:last-child {
	border-bottom: 0;
}
.site-list .inner .sites div {
	height: 25px;
	overflow: hidde;
}

.site-list .inner .sites  .move-to-site {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* forum.list.php */
.forum-list .inner .site-title {
	margin: 10px 0 5px 0;
	font-weight: bold;
	color: #535353;
	font-size: 1.125em;
	padding: 5px 10px;
	border: 1px solid #535353;
	display: inline-block;
	border-radius: 3px;	
}

/* config_write.php */
.config-write {
	margin-top: 10px;
}

.config-write .api-info {
	margin-bottom: 10px;
	border: 1px solid #d5d5d5;
	padding: 10px;
	border-radius: 4px;
}
.config-write .api-info  > .title {
	font-size: 9pt;
	font-weight: bold;
	color: #666666;
	margin-bottom: 10px;
	font-family: '맑은 고딕', AppleGothic;
}

.config-write .row {
	margin-bottom: 5px;
}
.config-write  .item4 {
	display: inline-block;
	width: 100px;
	font-family: '맑은 고딕', AppleGothic;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	padding: 0 10px;
	background-color: #666666;
	margin-right: 10px;
}

.config-write .row input[type='text'] {
	width: 250px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

.config-write  input[type='submit'] {
	width: 80px;
	height: 30px;
	background-color: #616161;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	border: 0;
	border-radius: 0;
	float: right;
	margin-right: 10px;
}
	
}
.config-write input[type='submit']:hover {
	background-color: #616161;
	color: #ffffff;
	border: 0;
}

/* config.php */
.subsite-support {
	font-family: '맑은 고딕', AppleGothic;
}

.subsite-support .title {
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	border-radius: 3px;
	margin: 10px 0;
}

.subsite-support .title .inner {
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	font-weight: bold;
	color: #2c5991;
}

.subsite-support .title .inner  img {
	height: 20px;
	margin-right: 5px;
}
.subsite-support  .support .tab-menu {
	margin-bottom: 10px;
}
.subsite-support  .support .tab-menu .tab-button {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #53749c;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
}

.subsite-support  .support .tab-menu .tab-button:hover, .subsite-support  .support .tab-menu .tab-button:first-child {
	background-color: #314258;
}

.tab-button-selected {
	background-color: #314258
}
.subsite-support  .support-content {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	background-color: #f9f9f9;
}

.subsite-support  .support-content .inner{
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 10px;
	display: none;
	min-height: 300px;
}

.subsite-support  .support-content .general-setting {
	display: block;
}

.subsite-support .support-content .inner .support-image img {
	max-width: 670px;
}
.subsite-support .support-content .inner  .sub-title:first-child {
	margin-top: 0;
}
.subsite-support .support-content .inner  .sub-title {
	font-weight: bold;
	margin: 60px 0 7px 0;
	color: #434d5a;
}


/* forum_setting.php */
.forum_setting .wrapper{
	border: 1px solid #d5d5d5;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

.forum_setting .wrapper .title {
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	color: #36567d;
	font-family: '맑은 고딕', AppleGothic;
	font-weight: bold;
	height: 25px;
	line-height: 23px;
	padding: 0 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	font-size: 10pt;
}

.forum_setting .wrapper input[type='text'] {
	height: 25px;
	line-height: 25px;
}

.forum_setting .wrapper input[type='submit'], .forum_setting .wrapper input[type='submit']:hover {
	border: 0;
	background-color: #555555;
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.forum_setting .wrapper .tip {
	color: #666666;
}
