.multisite-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #474747;
	height: 40px;
}
.multisite-menu li {
	display: block;
	float: left;
}
.multisite-menu li:first-child {
	margin-left: 10px;
}
.multisite-menu li a {
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	padding: 0 12px;
    display: inline-block;
}
.multisite-menu li a:hover {
	text-decoration: none;
	background-color: #616161;
}


/* config_global.php */
.config_general .site-global > .title {
	font-family: '맑은 고딕', AppleGothic;
	border-bottom: 1px solid #616161;
	color: #565656;
	font-size: 1.125em;
	padding-bottom: 4px;
	margin: 20px 0 13px 0;
}

.config_general .site-global .middle-title {
	color: #565656;
	margin-bottom: 9px;
}

.config_general .site-global .top-title {
	color: #565656;
	margin-bottom: 9px;
}


.config_general .site-global table tr td span {
	width: 100px;
	display: inline-block;
	color: #565656;
}
.config_general .site-global table tr td {
	border: 0;
}

.config_general .site-global table tr td input[type='text'] {
	height: 22px;
	line-height: 22px;
	width: 238px;
	padding: 2px;
	margin-bottom: 6px;
}

.config_general .middle-title {
	margin-top: 15px;
}

.config_general .select-box-left, .config_general .select-box-right {
	float: left;
	width: 50%;
}

.config_general .select-wrapper, .config_general .select-button {
	border: 1px solid #d3d3d3;
	background-color: #efefef;
	float: left;
	margin-bottom: 10px;
}
.config_general .select-wrapper {
	border-right: 0;
}
.config_general .select-wrapper .inner {
	border-top: 1px solid #ffffff;
	height: 17px;
	width: 289px;
	display: inline-block;
	color: #565656;
	font-size: 0.875em;
	line-height: 17px;
	padding-left: 10px;
}

.config_general .select-button .inner {
	border-top: 1px solid #ffffff;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	width: 27px;
	position: relative;
	text-align: center;
}
.config_general .select-button {

}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.config_general .select-button {
		top: 0;
	}
}
*/
@-moz-document url-prefix() { 
	.config_general .select-button {
		top: 0.5px;
	}
 }
 
.config_general .drop-down-menu {
	width: 326px;
	min-height: 68px;
	max-height: 150px;
	overflow: auto;
	margin-bottom: 3px;
	background-color: #f4f4f4;
	border: 1px solid #d8d8d8;
	border-top: 0;
	position: relative;
	top: -10px;
	display: none;
}
.config_general .drop-down-menu .row {
	padding: 3px 10px;
	color: #646464;
}

.config_general .drop-down-menu .row:hover {
	cursor: pointer; 
	background-color: #666666;
	color: #ffffff;
}
.config_general .image-config {
	margin-top: 10px;
}
.config_general .image-config  .title {
	color: #565656;
	font-family: '맑은 고딕', AppleGothic;
	margin: 20px 0 9px 0;
	font-size: 1em;
}

.config_general .image-config input[type='file'] {
	color: #565656;
}

.config_general .title-bottom {
	font-family: '맑은 고딕', AppleGothic;
	color: #565656;
	font-size: 1em;
	margin: 27px 0 5px 0;
}

.config_general .title-small {
	color: #767676;
	margin-right: 14px;
}
.config_general input[type='radio'] {
	margin-right: 5px;
}
.config_general .radio-left, .config_general .radio-right {
	color: #565656;
}
.config_general .radio-left{
	margin-right: 16px;
}
.config_general input[type='submit'] {
	width: 80px;
	height: 30px;
	background-color: #616161;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	border: 0;
	border-radius: 0;
	margin-top: 10px;
	float: right;
	margin-right: 10px;
}
.config_general input[type='submit']:hover {
	background-color: #616161;
	border: 0;
}

.config_general textarea {
	border: solid 1px #c3c3c3;
}




/* config_menu */

.config_menu .config {
	font-family: '맑은 고딕', AppleGothic;
}
.config_menu .config table .line-header td{
	border-bottom: 1px solid #c3c3c3;
	
	font-size: 1.125em;
}
.config_menu .config table tr .menu-no {
	padding-left: 36px;
	color: #1a1a1a;
}

.config_menu .config table tr .select-wrapper, .config_menu .config table tr .select-button {
	border: 1px solid #d3d3d3;
	background-color: #efefef;
	display: inline-block;
}
.config_menu .config table tr .select-wrapper {
	border-right: 0;
}

.config_menu .config table tr .select-wrapper .inner {
	border-top: 1px solid #ffffff;
	height: 17px;
	width: 109px;
	display: inline-block;
	color: #565656;
	font-size: 0.875em;
	line-height: 17px;
	padding-left: 10px;
}

.config_menu .config table tr .select-button {
	position: relative;
	top: 1px;
	left: -4px;
}

 .config table tr .select-button .inner {
	border-top: 1px solid #ffffff;
	height: 17px;
	display: inline-block;
	line-height: 17px;
	width: 27px;
	position: relative;
	text-align: center;
	cursor: pointer;
}



.config_menu .select-wrapper, .config_menu .select-button {
	cursor: pointer;
}

.config_menu .drop-down-menu {
	width: 148px;
	min-height: 62px;
	max-height: 150px;
	overflow: auto;
	border: 1px solid #d1d1d1;
	border-top: 0;
	background-color: #f6f6f6;
	display: none;
	
}
.drop-down-menu .row {
	padding: 3px 10px;
}

.drop-down-menu .row:hover {
	cursor: pointer; 
	background-color: #666666;
	color: #ffffff;
}

.config-menu-table input[type='submit'] {
	background-color: #616161;
	color: #ffffff;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 0;
	border-radius: 0;
	font-size: 1em;
}

.config-menu-table input[type='submit']:hover {
	background-color: #616161;
	border: 0;
}

/* config_forum.php */
.config_forum .config_menu {
	margin: 20px 0 6px 10px;
}
.config_forum .create-forum-input {
	width: 158px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}
.no_of_board {
	float: right;
	color: #535353;
	position: relative;
	top: -36px;
	right: 10px;
}

.config_forum .config_menu input[type='submit'] {
	width: 58px;
	height: 28px;
	cursor: pointer;
	border: 1px solid #d4d4d4;
	background-color: #efefef;
	color: #565656;
}

.config_forum .board_list {
	padding: 0 10px;
	font-family: '맑은 고딕', AppleGothic;
}

.config_forum .board_list .header, .config_forum .board_list .header1 {
	background-color: #8f8f8f;
}
.config_forum .board_list  .header td, .config_forum .board_list  .header1 td  {
	border-left: 0;
	color: #ffffff;
}

.config_forum .board_list .background{
	background-color: #efefef;
}

.config_forum .board_list tr td {
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}
.config_forum .board_list .row  td{
	color: #696969;
}

.config_forum .board_list tr .padding-extra1 {
	padding-left: 78px;
}
.config_forum .board_list tr .padding-extra2 {
	padding-left: 93px;
}

.config_general .image-config .image-upload {
	border: solid 1px #d8d8d8;
	border-top: 0;
	padding: 10px;
}

.config_general .image-config .image-upload .title {
	margin: 0;
	padding: 0;
}

.config_general .image-config {
	table-layout: fixed;
}

.config_general .image-config .image-upload input[type='text'] {
	width: 100%;
	border: solid 1px #d8d8d8;
}

.config_general .image-config .image-upload input[type='file'], .config_general .image-config .image-upload input[type='checkbox']  {
	margin-bottom: 5px;
	
}

.config_general .image-config .image-upload textarea {
	width: 98%;
	height: 50px;
	border: solid 1px #d8d8d8;
}

.config_general .image-config .image-upload img{
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.config_general .image-config .image-title {
	margin: 0;
	background: #fafafa;
	border: solid 1px #d8d8d8;
	padding: 5px 5px;

}

.config_general .image-config .image-title img {
	margin: 0 5px;
}

/**new design*/
.config .config-main-title  {
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
	border-radius: 3px;
	margin: 10px 0;
}
.config .config-main-title .inner  {
	border: 1px solid #ffffff;
	border-radius: 3px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	font-size: 10pt;
	font-weight: bold;
	color: #2c5991;
}

.config .config-main-title .inner  img {
	width: 19px;
}

.config  .config-title {
	margin: 0;
	background: #474747;
	padding: 7px;
	color: #ffffff;
	margin-bottom: 5px;
}



.config  .config-title .config-title-notice {
	float: right;
}

 
.config  .config-container {
	padding: 5px 10px;
	margin-bottom: 10px;
} 

.config_menu.create-forum {
	margin: 0 0 5px 0; 
}

.site-global .config-wrapper {
	margin-bottom: 50px;
}

.site-global .config-wrapper:last-child {
	margin-bottom: 0;
}

.setting-no-image {
	width: 100%;
	background: #ffffff;
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	padding: 10px 0;
	border: solid 1px #f3f3f3;
	background: #fafafa;
	margin-bottom: 10px;
} 
.config_general input[name='title'], .config_general input[name='secondary_title'] {
	width: 600px !important;
}

.config_general textarea[name='footer_text'] {
	width: 600px;
	margin-left: 49px;
	height: 100px;
	padding: 2px;
}

