.travel_images_with_captions  .title{
	border-bottom:1px solid #bbbbbb;
	margin-bottom:10px;
	padding:8px 0 8px 26px;
	font-weight:bold;
	background-color:#fcfcfc;
	position:relative;
}

.travel_images_with_captions .title a{
	font-weight:normal;
	color:#808080;
	font-size:.8em;
	float:right;
	margin:3px 10px 0 0;
	text-decoration:none;
}

.travel_images_with_captions  .title img{
	position:absolute;
	top:10px;
	left:7px;
}

.travel_images_with_captions_container {
	width:161px;	
	display: inline-block;
	float:left;
	margin: 0 0 10px 11px;
}

.travel_images_with_captions_container .images_with_captions .img-wrapper{
	width:161px;
	height:108px;
	border:1px solid #bbbbbb;
	background-color:#e6e6e6;
	overflow:hidden;
}

.travel_images_with_captions_container .images_with_captions .caption{	
	width:172px;
	text-align:center;
	overflow:hidden;	
}

.travel_images_with_captions_container .images_with_captions .caption a{	
	font-family:dotum;
	text-decoration:none;
}

.travel_images_with_captions_container .images_with_captions .caption.product_subject{
	height:40px;
	word-break:break-all;	
}

.travel_images_with_captions_container .images_with_captions .caption.product_price a, .travel_images_with_captions_container .images_with_captions .caption.product_subject a{
	color:#808080;
}