.banner-container{
	position:relative;
	border:1px solid #c0c0c0;
	border-top:0;
}

.banner-container .commands{
	position:absolute;
	left:20px;
	bottom:12px;
}

.banner-container .commands .stop_and_play{
	display:none;
}

.banner-container .commands .stop_and_play.shown{
	display:block;
}

.banner-container .commands .button{
	display:inline-block;
	float:left;
	margin-right:10px;	
}

.banner-container .commands .button img{
	height:30px;
	width:30px;	
	cursor:pointer;
}

.height_support_image{
	opacity:0;
}

.content .banner-container{			
	max-width:958px;
	margin:auto;				
	position:relative;
	overflow:hidden;					
}

.content .banner-container .banner{			
	position:absolute;	
	top:0;
	left:-100%;
	white-space:nowrap;
	width:100%;	
}


.banner-container .banner_holder{
	display:inline-block;
	margin-right:-4px;
	width:100%;
	position:relative;
	vertical-align:top;
}

.banner-container .banner_holder .text_content{
	width:50%;
	margin-right:5%;
	float:left;
	word-break:break-all;
}

.banner-container .banner_holder .text_content .banner_subject{	
	font-size:2em;
	padding:10px 0 0 20px;
	margin-bottom:20px;
	font-weight:bold;
}

.banner-container .banner_holder .text_content .banner_content{
	white-space:normal;
	font-size:1.5em;
	padding:10px 0 45px 20px;
	font-weight:bold;
}


.content .banner-container img{
	width:45%;	
	float:right;
}