/* refer example */
.jbutton {
	line-height: 17px;
	border: 1px solid #d7d7d7;
	padding: 5px 10px 5px 10px;
	font-size: 9pt;
	background-color: #f9f9f9!important;
	color: black;
	font-family: Helvetica,Tahoma,Verdana;
}

.jbutton:hover {
	color: blue;
	background-color: white;
	cursor: pointer;
}

input.jbutton {
	margin:0;
}


.jbutton-group {
	overflow:auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

.jbutton-group .jbutton {
	float:left;
	border-left: 0;
}

.jbutton-group .jbutton:first-child {
	border-left: 1px solid #dfdfdf;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}



.jbutton-group .jbutton:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
/*
.jbutton-group:after {
	display:block;
	content:'';
	clear:right;
}
*/




/** 오렌지 컬러 */
.jbutton-group .orange {
	color: #ff8a00;
	cursor: pointer;
}
.jbutton-group .orange:hover {
	color: white;
	background-color: orange!important;
	border-color:orange;
	cursor: pointer;
}
.jbutton-group .orange-active {
	color: white!important;
	background-color: orange!important;
	border-color:orange;
	cursor: pointer;
}
.jbutton-group .orange-active:hover {
	color: orange;
	background-color: white;
	border-color:orange!important;
	cursor: pointer;
}
/** 파랑 칼러 */
.jbutton-group .blue {
	color: blue;
	cursor: pointer;
}
.jbutton-group .blue:hover {
	color: white;
	background-color: blue!important;
	border-color:blue;
	cursor: pointer;
}
.jbutton-group .blue-active {
	color: white!important;
	background-color: blue!important;
	border-color:blue!important;
	cursor: pointer;
}
.jbutton-group .blue-active:hover {
	color: blue;
	background-color: white;
	border-color:blue!important;
	cursor: pointer;
}
/** 빨강 컬러 */
.jbutton-group .red {
	color: red;
	cursor: pointer;
}
.jbutton-group .red:hover {
	color: white;
	background-color: red!important;
	border-color:red;
	cursor: pointer;
}

.jbutton-group .red-active {
	color: white!important;
	background-color: red!important;
	border-color:red!important;
	cursor: pointer;
}


.jbutton-group .red-active:hover {
	color: red;
	background-color: white;
	border-color:red;
	cursor: pointer;
}






/** icons */
.jbutton-group .edit { padding-left: 28px; background: url('edit.png') no-repeat 6px; }
.jbutton-group .key { padding-left: 28px; background: url('key.png') no-repeat 6px; }
.jbutton-group .list { padding-left: 28px; background: url('list.png') no-repeat 6px; }
.jbutton-group .plus { padding-left: 28px; background: url('plus.png') no-repeat 6px; }
.jbutton-group .pencil,.jbutton-group .post { padding-left: 28px; background: url('pen.png') no-repeat 6px; }
.jbutton-group .setting { padding-left: 28px; background: url('settings.png') no-repeat 6px; }
.jbutton-group .download { padding-left: 28px; background: url('communication.png') no-repeat 6px; }
.jbutton-group .copy { padding-left: 28px; background: url('copy.png') no-repeat 6px; }
.jbutton-group .lock { padding-left: 28px; background: url('lock.png') no-repeat 6px; }
.jbutton-group .comment { padding-left: 28px; background: url('comment.png') no-repeat 6px; }
.jbutton-group .reload, .jbutton-group .cancel { padding-left: 28px; background: url('reload.png') no-repeat 6px; }
.jbutton-group .trash, .jbutton-group .delete { padding-left: 28px; background: url('trash.png') no-repeat 6px; }
.jbutton-group .up { padding-left: 28px; background: url('up.png') no-repeat 6px; }
.jbutton-group .down { padding-left: 28px; background: url('down.png') no-repeat 6px; }
.jbutton-group .report, .jbutton-group .user { padding-left: 28px; background: url('report.png') no-repeat 6px; }
.jbutton-group .temp { padding-left: 28px; background: url('temp.png') no-repeat 6px; }
.jbutton-group .blind { padding-left: 28px; background: url('blind.png') no-repeat 6px; }
.jbutton-group .category { padding-left: 28px; background: url('category.png') no-repeat 6px; }
.jbutton-group .check, .jbutton-group .submit { padding-left: 28px; background: url('check.png') no-repeat 6px; }
.jbutton-group .link { padding-left: 28px; background: url('link.png') no-repeat 6px; }
.jbutton-group .home { padding-left: 28px; background: url('home.png') no-repeat 6px; }
.jbutton-group .credit { padding-left: 28px; background: url('credit.png') no-repeat 6px; }
.jbutton-group .donate { padding-left: 28px; background: url('donate.png') no-repeat 6px; }
.jbutton-group .email { padding-left: 28px; background: url('email.png') no-repeat 6px; }
.jbutton-group .heart { padding-left: 28px; background: url('heart.png') no-repeat 6px; }
.jbutton-group .login { padding-left: 28px; background: url('login.png') no-repeat 6px; }
.jbutton-group .logout { padding-left: 28px; background: url('logout.png') no-repeat 6px; }
.jbutton-group .card { padding-left: 28px; background: url('card.png') no-repeat 6px; }
.jbutton-group .star { padding-left: 28px; background: url('star.png') no-repeat 6px; }
.jbutton-group .statistics { padding-left: 28px; background: url('statistics.png') no-repeat 6px; }
.jbutton-group .tool { padding-left: 28px; background: url('tool.png') no-repeat 6px; }
.jbutton-group .light, .jbutton-group .help { padding-left: 28px; background: url('light.png') no-repeat 6px; }







.jbutton-group a {
	text-decoration: none;
}