.x-gallery-outer {
	border: 0;
	text-align: center;
}
.x-gallery {
	list-style:none;
	margin:0;
	padding:0;
	border: 0;
}
.x-gallery li {
	display:inline-block;
	position:relative;
	width: 24%;
	margin: 0.15%;
}
.x-gallery .photo img {
	width: 100%;
	height: auto;
}
.x-gallery .text {
	position:absolute;
	bottom:0;
	z-index:100;
	background:black;
	opacity: 0.7;
	width: 100%;
	font-size: 1em;
	text-align: left;
}
.x-gallery .text a {
	color: white;
}
.x-gallery .text .title {
	margin-bottom:0.25em;
	padding: 0.4em;
	font-size: 1em;
	font-weight: bold;
	height: 0.85em;
	overflow:hidden;
}
.x-gallery .text .desc {
	margin-bottom: 0.25em;
	padding: 0 0.4em;
	font-size: 1em;
	height: 1em;
	overflow:hidden;
}
@media all and ( max-width: 50em ) {
	.x-gallery li:nth-child(3) {
		display: none;
	}
	.x-gallery li {
		width: 32%;
	}
	.x-gallery .text .desc {
		display:none;
	}
}
