body {
	background-color: #e3e3e3;
	font-size: 9pt;
}
.layout {
	margin: 1em;
}
.page-title {
	font-size: 1.6em;
	font-weight: bold;
	color: darkblue;
}

.content {
	margin: 1em 0;
	padding: 1em;
	border-radius: 4px;
	background-color: white;
}


.caption {
	margin: 0.6em 0;
	display: inline-block;
	width: 100px;
	color: #494949;
	font-weight: bold;
}

hr {
	margin: 1em 2em;
	border: 0;
	border-bottom: 1px solid grey;
}

.submitted {
	border: 1px solid darkred;
	border-radius: 2px;
	background-color: darkred;
	color: white;
	font-weight: bold;
	padding: 0.6em;
	margin: 0.2em;
}
.css {
	margin: 0 0 1em 0;
	width: 100%;
	height: 120px;
}
input, select {
	margin: 0;
}

input[name='bo_subject'], input[name='skin'], input[name='option'] {
	width: 313px;
}
input[name='bo_table'] {
	width: 180px;
}
select[name='select_bo_table'] {
	padding: 1px;
	width: 130px;
}





.widget-list {
	display: none;
	margin: 1em 0;
	padding: 0.4em;
	background-color: grey;
}
.widget-list > .widget {
	float: left;
	margin: 1em;
	padding: 1em;
	width: 20em;
	background-color: #f0f0f0;
	border: 1px solid grey;
	border-radius: 4px;
	cursor:pointer;
	text-align:center;
}
.widget-list > .widget > .preview {
	margin-bottom: 0.4em;
	font-size: 1.6em;
	font-weight: bold;
	color: grey;
}
.widget-list > .widget > .folder {
	font-size: 1.2em;
	font-weight: bold;
	color: #0b1f76;
}
.widget-list > .widget > .preview > img {
	width: 100%;
}

.widget-close, .widget-open {
	cursor:pointer;
	font-weight: bold;
}
.widget-close {
	display:none;
}
