.layout{
	width:100%;	
}

.layout .header{
	max-width:970px;
	margin:auto;	
}

.layout .container{
	max-width:970px;
	margin:auto;	
}

.layout .footer{
	max-width:970px;
	margin:auto;
}