#logo {
	padding: 1.5em 0 0 1.5em;
}

#logo img {
	margin-right: 0.2em;
}

#logo a {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	font-family: Lucida Sans Unicode;
}

#tnb li {
	margin: 0 !important;
	padding: 0;
	height: 100%;
}

#tnb {
	top: 0;
}

#tnb a {
	padding: 1.5em;
	font-size: 12pt;
	color: #ffffff;
	font-family: Arial Narrow;
}

#tnb li:nth-child(1) {
	background: #db5e31;
}

#tnb li:nth-child(2) {
	background: #eda23e;
}

#tnb li:nth-child(3) {
	background: #f2cb67;
}

#tnb li:nth-child(4) {
	background: #bfb840;
}

#tnb li:nth-child(5) {
	background: #e4dc4b;
}

#hd {
	background: #56493f;
	height: 70px;
	padding: 0 !important;
}

#hd_wrapper {
	background: #56493f;
	height: 70px;
	overflow: hidden;
}
/*aside*/
#aside {
	border: 0 !important;
	padding: 0 0.75em 0 0.75em;
}

#aside .profile-photo {
	background: #d1b882;
	padding: 0.75em;
	line-height: 1.25em;
}

#aside .profile-photo, #aside .profile-photo-bottom {
	font-family: Helvetica;
	color: #ffffff;
	font-size: 11pt;
}

#aside .profile-photo-bottom {
	position: relative;
	width: 0; 
	height: 0; 
	border-left: 105px solid transparent;
	border-right: 105px solid transparent;
	border-top: 25px solid #d1b882;
}

#aside .profile-photo-bottom p {
	position: absolute;
	top: -1.5em;
	left: -0.25em;
}

#aside .profile-photo img {
	margin: 2em 0 0.75em 0;
	width: 100%;
	border: solid 1px #979693; 
}

#aside .social-icons {
	margin-top: 1em;
	text-align: center;
}

#aside .categories {
	margin-top: 1em;
	border-bottom: solid 1px #969696;
}

#aside h2 {
	width: 100%;
	font-size: 12pt;
	color: #565656;
	text-transform: uppercase;
	font-family: Georgia;
	font-weight: normal !important;
}

#aside .categories h2, #aside .latest-posts h2 {
	border-bottom: solid 1px #cacaca;
	padding-bottom: 0.25em;
}

#aside ul {
	padding-left: 1em;
}

#aside ul li {
	list-style: none;
}

#aside .categories ul li a {
	font-family: Helvetica;
	font-size: 12pt;
	color: #565656;
	text-decoration: none;
}

#aside .latest-posts {
	margin-top: 1em;
}

#aside .latest-posts ul li a {
	font-family: Helvetica;
	font-size: 11pt;
	text-decoration: none;
	color: #565656;
}

#aside .latest-posts ul li a span.subject {
	font-style: italic;
}


#aside .latest-posts ul li {
	padding: 0.5em 0 0.5em 0;
	border-bottom: solid 1px #dfdfdf;
}

#aside .latest-posts ul li:first-child {
	padding: 0 0 0.5em 0;
}

#aside .latest-posts ul li:last-child {
	border-bottom: none;
}

#aside .search {
	border-top: solid 1px #bababa;
	border-bottom: solid 1px #bababa;
	padding: 0.75em 0.25em 0.75em 0.25em;
}

#aside .search input {
	border: solid 0px transparent;
	padding: 0.5em;
	font-style: italic;
	font-family: Arial;
}

#aside .search input[name='stx'] {
	width: 12em;
}

#aside .search input[type='submit'] {
	width: 40px;
	height: 24px;
}

#aside .navigator a{
	color: #56493f;
	text-decoration: none;
	font-family: Arial;
}

#aside .navigator .prevnav img {
	padding: 1em 1em 1em 0;
}

#aside .navigator .nextnav img {
	padding: 1em 0 1em 1em;
}

#aside .login-form {
	margin: 1em 0 0 0;
}

/*container*/
body {
	background: #f3f3f3;
}

#container {
	border: 0 !important;
	width: 699px;
}



#wrapper {
	border: 0 !important;
	background: #ffffff;
}

.footer-text {
	margin: 1em 0 0 220px;
	clear:both;
}

.footer-text p, .footer-text p a {
	font-family: Gulim;
	color: #acacac;
	text-transform: uppercase;
	padding: 1em;
	text-decoration: none;
}

.back-to-top img {
	padding: 1em 1em 1em 0;
}

.back-to-top {
    position: fixed;
    bottom: 0.5em;
    text-decoration: none;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    

}

/*Login tweaking*/
section#ol_before h2, section#ol_after h2, section#ol_after #ol_after_private{
	display: none;
}