body {
	width: 100%;
}

/*HEADER*/
.header {
	width: 100%;
	margin-bottom: 0.625em;
}

.header .logo-menu {
	max-width: 970px;
	margin: 0 auto;
}


.header .logo-menu .header-logo {
	width: 250px;
	background: #f3f3f3;
}

.top-menu {
	width: 720px;
}

.header-logo-td {
	width: 1120px;
	background: #f3f3f3;
}

.login-panel-td {
	width: 1500px;
	background: #334d5c;
	padding: 8px 0 7px 0;
}

.login-panel-td a {
	text-decoration: none;
}

.top-menu-td {
	width: 1880px;
	background: #4e8077;
}
.menu-panel-td {
	background: #45b29d;
}

.top-menu ul {
	padding: 45px 0 0 0;
	list-style: none;
	float: right;
}

.top-menu ul li {
	display: inline-block;
	margin-left: 10px;
}

.top-menu ul li.first-menu {
	margin: 0;
}

.top-menu ul li a {
	padding: 30px 10px 10px 10px;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
}

.top-menu ul li a:hover {
	background: #3e665f;
	border-radius: 3px;
}



.login-panel {
	padding: 0 8px;
	width: 234px;
	color: #ffffff;
	background: #334d5c;
	position: relative;
}

.login-panel a {
	color: #ffffff;
}

.login-panel > div {
	float: left;
	text-align: center;
	border-radius: 3px;
	margin-left: 10px;
}

.login-button, .statistics-button, .search-button, .register-edit-button {
	margin: 0;
	width: 65px;
	padding: 8px 0;
}

.login-panel > div img {
	margin-bottom: 5px;
}

.menu-panel {
	background: #45b29d;
	width: 708px;	
}

.menu-panel ul {

	margin: 0;
	float: right;
}

.menu-panel ul li {
	display: inline-block;
	margin-left: 20px;
}

.menu-panel ul li.first-menu {
	margin-left: 0;
}

.menu-panel ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
	text-transform: UPPERCASE;
	padding: 2px 0;
}

.menu-panel ul li a:hover {
	border-bottom: solid 1px #ffffff;
}

.active-popup-menu {
	background: #58839c;
}

/* CONTENT */
.layout .content {
	width: 970px;
	margin: 0 auto;
}

/*FOOTER*/
.layout .footer {
	width: 970px;
	margin: 0 auto;
	margin-top: 0.625em;
}

.layout .footer .footer-info {
	background: #334d5c;
	padding: 35px 35px 50px 35px;
	color: #ffffff;
}

.layout .footer .footer-logo {
	width: 245px;
	height: 171px;
	background: #f3f3f3;
	text-align: center;
	color: #334d5c;
}

.layout .footer .footer-logo img {
	margin-bottom: 0.625em;
}

/** TOP ICONS */
.login-container {
	position: absolute;
	top: 55px;
	width: 300px;
	display: none;
}

.triangle {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #58839c;
}

.login-container .triangle {
	margin-left: 25px;
}

.statistics-container {
	position: absolute;
	top: 54px;
	left: 80px;
	display: none;
}

.statistics-container .triangle {
	margin-left: 25px;
}

.search-container {
	position: absolute;
	top: 54px;
	left: 157px;
	display: none;
	width: 170px;

}

#gallery_2_search_forum_text {
	border: solid 3px #58839c;
	padding: 5px;
	height: 24px;
	width: 274px;
	border-radius: 3px;
}

.search-container .triangle {
	margin-left: 25px;
}

/* BANNER */
.banner {
	margin-bottom: 10px;
}

.banner .banner-image {

}

/*POSTS CONTAINER*/

.posts-container > div {
	float: left;
	width: 485px;
	margin-bottom: 10px;
}

.posts-container .right-panel-posts {
	float: left;
	margin-left: 5px;
	width: 233px;
}

.posts-container .right-gallery-post {
	float: left;
	width: 233px;
	height: 368px;
	margin-left: 13px;
}

.posts-container .right-panel-posts .right-posts-1 {
	margin-bottom: 10px;
}

.posts-container .right-panel-posts .right-posts-1 .latest-gallery-posts {
	padding-bottom: 5px;
}

.right-posts-2 .latest-gallery-posts .title{
	padding-bottom: 9px;
}


