.comm3_timed_list{
	width:368px;	
	display:inline-block;
	height:140px;
}

.comm3_timed_list .timed_list_title{
	font-weight:bold;	
	font-family:Dotum;
	border: 1px solid #d9d9d9;
	padding:0 10px;
	line-height: 28px;
	height: 28px;
	background-color: #fcfcfc;
}

.comm3_timed_list .timed_list_title img{
	position:relative;
	top:-2px;
	margin-right:5px;
}

.comm3_timed_list .timed_list_title a{
	font-weight:normal;
	color:#808080;
	font-size: 9pt;
	float:right;
	text-decoration:none;
	margin-top: 2px;
}

.comm3_timed_list ul{
	list-style:none;
	padding:8px 10px;
	margin:0;	
}

.comm3_timed_list ul li{
	margin-bottom:3px;
}

.comm3_timed_list ul li .comment_and_time{
	float:right;
}

.comm3_timed_list ul li .comment_and_time .comment_count,.comm3_timed_list ul li .comment_and_time .time{	
	display:inline-block;	
}

.comm3_timed_list ul li .comment_and_time .time{	
	width:40px;
	text-align:center;
	margin-left:10px;
}

.comm3_timed_list ul li a{
	text-decoration:none;
	font-family:Dotum;
}

.comm3_timed_list ul li .comment_count{
	color:#cc4235;
}

.comm3_timed_list ul li .comment_count.no-comment{
	color:#808080;
}

.comm3_timed_list .subject{
	display:inline-block;
	width:250px;
	overflow:hidden;
	white-space:nowrap;
	line-height: 14px;
	height: 14px;
}

.comm3_timed_list .subject .dot {
	position: relative;
	top: -2px;
	margin-right: 8px;
}