.login {
	background-color: #efefef;
}

.login .inner {
	padding: 1em;
}


.login-form input[type='text'] {
	margin-bottom: 0.2em;
}

.login-form input[type='text'], .login-form input[type='password'] {
	padding: 5px;
	width: 100px;
	border: 1px solid grey;
}
.login-form input[type='submit'] {
	padding: 1.6em 1.4em;
	border: 1em;
	background-color: #494949;
	color: white;
}

.login-form .bottom {
	margin: 0.6em 0;
}



.login-info .nickname {
	margin-bottom: 0.2em;
	padding: 0.8em;
	background-color: #dfdfdf;
	font-weight: bold;
}


.login-info .private {
	margin-bottom: 0.1em;
}


.login-info .private td {
	padding: 1em;
	width: 33.333%;
	background-color: #e3e3e3;
	text-align:center;
}



.login-info .bottom td {
	width: 50%;
	background-color: #e3e3e3;
	text-align:center;
}

.login-info .bottom div {
	margin-top: 0.2em;
	padding: 0.4em;
	background-color: black;
}

.login-info .bottom div a {
	color: white;
}

.login-info .bottom .info {
	margin-right: 0.1em;
}
.login-info .bottom .logout {
	margin-left: 0.1em;
}
