<?xml version="1.0"?>
<config>
	<type>theme</type>
	<id>default-theme</id>
	<view>pc</view>
	<category>etc</category>
	<name>
		<en>Default</en>
		<ko>기본 디자인</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky</email>
	<short>
		<en>This is default theme</en>
		<ko>기본 테마입니다.</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>0</max>
		</top>
		<left>
			<name>
				<en>Menu Left</en>
				<ko>왼쪽 메뉴</ko>
			</name>
			<max>0</max>
		</left>
		<right>
			<name>
				<en>Menu Right</en>
				<ko>오른쪽 메뉴</ko>
			</name>
			<max>0</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>0</max>
		</bottom>
	</menu>
</config>
