#travel-theme-1-hd{
	font-family:arial;
	margin-bottom:10px;
}

/** header */

#logo {
	padding:0!important;
}

#logo{
	height:67px;
}

#logo img {
	width: 350px;
	height: 40px;
	margin-top:15px;
}


/**wrapper*/
#wrapper {
	border: 0 !important;
	width: 970px;
}


/** aside */
#aside {
	width: 210px;
	float:right;
	border: 0 !important;
	padding: 0;
}

#aside #ol_after {
	border: 0 !important;
}

/* container */

#container {
	width: 750px;
	border: 0 !important;
	padding: 0;
	word-break: break-all;
}

#container .no-banner {
	font-size:100px;	
	margin:100px 0 0 35px;	
}



#container .banner {
	width: 651px;
	height: 350px;
	overflow: hidden;	
	position: relative;
}

#container .banner-pagination {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2em;
	color: #ffffff;
}

#container .banner-pagination .pages{
	display:inline-block;
	background-color:#41453f;
	padding:4px 7px;
	border-radius:3px;
	opacity:.8;
}

#container .banner-pagination .pages.selected{
	padding:4px 15px;
	background-color: #ffffff;
	color:#565656;
}

#container .banner-pagination .pages:hover{
	cursor:pointer;
}

#container .banner-image {
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}

#container .banner-image.selected {
	display:block
}

#container .banner img {
	width: 653px;
	height: 350px;
}

#container .banner p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 0.25em 0.5em;
	color: #ffffff;
	font-size: 33pt;
}
#container .top-panel > div {
	display: inline-block;
	vertical-align: top;
}

#container .top-panel .forum-list {
	width: 301px;
	margin-left: 6px;
	border: solid 1px #d9d9d9;
	border-radius: 2px;
	padding: 1px;
}

#container .top-panel .forum-list .inner{
	background: #f8f8f8;
	height: 332px;
	padding:9px;
}

#container .top-panel h2 img {
	margin: 0 0.5em 0 0;
}

#container .middle-panel {
	margin-top: 1em;
}

#container .middle-panel > div {
	display: inline-block;
	vertical-align: top;
}

#container .middle-panel h2, #container .bottom-panel h2 {
	color: #5d5d5d;
	font-size: 12pt;
	font-family: Arial;
	font-weight: normal !important;
	padding: 0 0 0.5em 0;
	border-bottom: solid 2px #5d5d5d;
}

#container .middle-panel .travel-stories {
	width: 655px;
	height: 240px;
}

#container .bottom-panel {
	margin: 1em 0 0 0;
	width: 100%;
}

/******************/
#top-menu{
	background: #e8e8e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
	
	height:30px;
	
	font-size:.9em;	
}

#top-menu .inner a{
	display:inline-block;
	float:left;
	margin:8px 13px 8px 3px;
	text-decoration:none;
	color:#717171;
}

#top-menu .inner .customer-support{
	color:#444444;
	position:relative;
	float:right;
	margin:10px 8px 0 0;
	padding-left:15px;
}

#top-menu .inner .customer-support img{
	position:absolute;
	top:2px;
	left:0;
}

#logo-and-search .inner{
	max-width:970px;
	margin:auto;
	position:relative;		
}

#top-menu .inner{
	max-width:970px;
	margin:auto;
}

#logo-and-search{
	background: #4e4e4e; /* Old browsers */	
	background: #566eaf; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NmVhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDc4YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #566eaf 0%, #5d78b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#566eaf), color-stop(100%,#5d78b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #566eaf 0%,#5d78b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #566eaf 0%,#5d78b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #566eaf 0%,#5d78b5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #566eaf 0%,#5d78b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#566eaf', endColorstr='#5d78b5',GradientType=0 ); /* IE6-8 */
	
	border-bottom:3px solid #183e5d;	
}

#hd_sch{
	border:0;
	left:auto;
	right:8px;
	top:11px;	
	border:4px solid #183e5d;
	border-radius:3px;
}

#hd_sch #sch_stx {	
	padding:7px;
	width: 240px;
	float:left;
	background-color:#f5f5f5;	
	color:#71767a;
}

#hd_sch #sch_submit{
	float:left;
	border-radius:0;
	color:#f4f4f4;
	background-color:#183e5d;
	width:50px;
	height:38px;
}

/*******MENUS*******/

#gnb{
	background-color:#2b608d;
	border:0;	
}

#gnb ul{	
	max-width:750px;
}

#gnb .gnb_1dli a{	
	color:#ffffff;
	padding: 1px 15px 5px 15px;	
	font-weight:normal;	
	font-size:1.1em;	
	width:auto;
}

#gnb .gnb_1dli a:hover{
	background-color:#183e5d;
}

/******************/

/**PLACE HOLDER*****/
#hd_sch ::-webkit-input-placeholder {
	font-style:italic;
	font-family:arial;
	color:#b0b0b0;		
}

#hd_sch :-moz-placeholder { /* Firefox 18- */
	font-style:italic;
	font-family:arial;
	color:#b0b0b0; 	
}

#hd_sch ::-moz-placeholder {  /* Firefox 19+ */
	font-style:italic;
	font-family:arial;
	color:#b0b0b0; 
}

#hd_sch :-ms-input-placeholder {  
	font-style:italic;
	font-family:arial;
	color:#b0b0b0; 
}

/**notice***/

.notice{
	border:1px solid #d5d5d5;
	background-color:#f8f8f8;
	color:blue;
	font-weight:bold;
	padding:10px;
	margin:auto;
	margin-top:10px;
	text-align:center;
}

/**image gallery***/
#container .middle-panel .photo-gallery {
	width: 305px;
	height: 240px;
	margin: 0 0 0 6px;
}
#container .middle-panel .photo-gallery .thumb-container {
	margin: 0.5em 0 0 0;
}
#container .middle-panel .photo-gallery .gallery-img-wrapper {
	margin: 0 5px .2em 0;
	display: inline-block;
	padding: 1px;
	border: solid 1px #d5d5d5;
	border-radius:3px;
}

#container .middle-panel .photo-gallery .gallery-img-wrapper.no-margin {
	margin-right:0;
}

.gallery-img-wrapper{
	width:94px;
	height:59px;
	overflow:hidden;
}

.gallery-img-wrapper img{
	width:100%;
}

/**sidebar gallery*/

#aside .sidebar-thumb {
	margin: 0.5em 0 0 0;
	padding: 9px;
	background: #f5f5f5;
	border: solid 1px #a9a9a9;
	border-radius: 3px;
}

#aside .thumb-container {
	margin: 0 auto;
}

#aside .sidebar-img-wrapper {
	margin: 0 5px 5px 0;
	display: inline-block;
	padding: 1px;
	border: solid 1px #d5d5d5;
	border-radius:3px;
	background: #ffffff;
}

#aside .sidebar-img-wrapper.no-margin {
	margin-right:0;
}

#aside .sidebar-img-wrapper.no-margin-bottom {
	margin-bottom: 0;
}

.sidebar-img-wrapper{
	width:56px;
	height:56px;
	overflow:hidden;
}

.sidebar-img-wrapper img{
	width:100%;
}
