.admin-menu > ul {
	margin:0 0 4em 0;
	padding:0;
	list-style:none;
	width: 100% !important;
	min-width: 50%;
	background-color: black;
	font-size: 10pt;
}
.admin-menu > ul a {
	display:inline-block;
	color:white;
	padding: 1em;
}
.admin-menu > ul > li {
	display:inline-block;
}
.sub-menu {
	position:absolute;
	display:none;
	padding:0;
	list-style:none;
	background-color: #494949;
	z-index: 1;
}
.sub-menu > li {
	display:inline-block;
}
.admin-menu > ul > li > .selected + .sub-menu {
	display:block;
}
.select-sub-menu {
	display:block;
	color: red;
	z-index: 2;
	background-color: #dfdfdf;
}
.select-sub-menu a {
	color: black !important;
}
.select-sub-menu a {
	color: black;
}
