.x-gallery-2-outer {
	border: 0;

}
.x-gallery-2 {
	list-style:none;
	margin:0;
	padding:0;
	border: 0;

}

.x-gallery-2 li {
	display:inline-block;
	float:left;
	border: 0 solid blue;
	width: 25%;
	height: 100%;
	word-break: break-all;
}

.x-gallery-2 li.left-images {
	
}

.x-gallery-2 li .post-outer {
	margin: 0.3em;
}

.x-gallery-2 li .post {
	border: solid 1px #bbbbbb;
	padding: 0.625em;
	background: #ffffff;
	margin-bottom: 0.625em;
	overflow: hidden;
}



.x-gallery-2 li .post a {
	text-decoration: none;
}

.x-gallery-2 .photo img {
	width: 100%;
	height: auto;
	margin-bottom: 0.625em;
}

.x-gallery-2 .post-subject {
	font-weight: bold;
}

.x-gallery-2 .photo img.no-image {
	border: solid 1px #bbbbbb;
}

.x-gallery-2 .text {
	z-index:100;
	width: 100%;
	font-size: 1em;
}
.x-gallery-2 .text a {

}
.x-gallery-2 .text .title {
	font-size: 1em;
	height: 1.2em;
	overflow:hidden;
	margin-bottom: 0.625em;
	
}

.x-gallery-2 .text .title .post-author, .x-gallery-2 .text .title .post-author a {
	color: #999999;
}

.x-gallery-2 .text .date-comment-view, .x-gallery-2 .text .date-comment-view-mobile {
	margin-bottom: 0.625em;
}

.x-gallery-2 .text .date-comment-view {
	height: 1.2em;
	overflow: hidden;
}

.x-gallery-2 .text .date-comment-view-mobile {
	display: none;
}

.x-gallery-2 .text .date-comment-view a, .x-gallery-2 .text .date-comment-view-mobile a {
	color: #999999;
}

.x-gallery-2 .text .post-divider {
	color: #d9d9d9;
}

.x-gallery-2 .text .desc {
	margin-bottom: 0.625em;
	font-size: 1em;
	height: 3.7em;
	overflow:hidden;
}

@media all and ( min-width: 51em ) {
	.x-gallery-2 li.left-images {
		clear: left;
	}

}

@media all and ( max-width: 50em ) {

	.x-gallery-2 li {
		width: 33%;

	}
	.x-gallery-2 .text .desc {
		display:none;
	}
}


@media all and ( max-width: 25em ) {
	.x-gallery-2 li .post {
		border: solid 1px #bbbbbb;
		padding: 0;
		background: #ffffff;
		margin-bottom: 0.625em;
	}
	

	.x-gallery-2 li .post .no-image {
		position: relative;
		left: -1px;
	}
	.x-gallery-2 li {
	
		width: 50%;
	}
	.x-gallery-2 .text .desc {
		display: none;
	}
	
	.x-gallery-2 li .post .text {
		padding: 0 0.625em;
		overflow: hidden;
	}
	
	.x-gallery-2 .date-comment-view {
		display: none;
	}
	.x-gallery-2 .text .title .post-author, .x-gallery-2 .text .title .post-author {
		display: none;
	}
	
	.x-gallery-2 .text .date-comment-view-mobile {
		color: #999999;
		display: block;
		height: 2.5em;
		overflow: hidden;
	}
	
	.x-gallery-2 .text .date-comment-view-mobile .post-mobile-meta {
		display: block;
		overflow: hidden;
		height: 1em;
	}
	
	.x-gallery-2 .text .date-comment-view-mobile .post-divider {
		padding: 0 0.5em;
	}
}


