.community_images_with_captions  {
	height: 160px;
}
.community_images_with_captions  .title{
	border: 1px solid #d9d9d9;
	margin-bottom:10px;
	padding-left: 26px;
	height: 28px;
	line-height: 28px;
	font-weight:bold;
	background-color:#fcfcfc;
	position:relative;
}

.community_images_with_captions  .title img{
	position:absolute;
	top:8px;
	left:7px;
}

.community_images_with_captions  .title .more-button {
	float: right;
	margin-right: 9px;
	font-weight:normal;
	color:#808080;
	font-size: 9pt;
	text-decoration:none;
	margin-top: 2px;
	
}

.community_images_with_captions_container {
	width:172px;	
	display: inline-block;
	margin-left:9px;	
	margin-bottom:10px;
}

.community_images_with_captions_container.no-margin {
	margin-right:0;
}

.images_with_captions .img-wrapper{
	width:172px;
	height:87px;
	border:1px solid #bbbbbb;
}

.images_with_captions .img-wrapper.no-image {
	border: 0;
}

.images_with_captions .caption{	
	width:172px;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	margin-top: 5px;
}

.images_with_captions .caption a{	
	font-family:dotum;
	text-decoration:none;
}