/** header */
#logo {
	padding:0!important;
}

#logo{
	height:67px;
}

#logo img {
	width: 350px;
	height: 40px;
}

#hd_sch {
	left:270px!important;
}
#hd_sch #sch_stx {
	width: 240px!important;
}


/**wrapper*/
#wrapper {
	border: 0 !important;
	width: 980px;
}


/** aside */
#aside {
	width: 220px;
	float:right;
	border: 0 !important;
	padding: 0;
}

#aside #ol_after {
	border: 0 !important;
}

/* container */

#container {
	width: 760px;
	border: 0 !important;
	padding: 0;
}

