/* x-latest-gallery4-post-with-image */
@media (max-width: 1023px) {
	.gallery4-with-image.post_4 {
		display: none;
	}

	.gallery4-with-image {
		width: 33%;
	}

	.gallery4-full-image.post_info {
		display: none;
	}
	
	.gallery4-full-image {
		width: 33%;
	}
	
	.top-wrapper .top ul {
		display: none;
	}
	
	.top-wrapper {
		height: 7px;
	}
	
	.header .main-menu {
		display: none;
	}
	
	.header .logo {
		width: 60%;
		text-align: center;
	}
	.layout .header-wrapper {
		padding: 10px 0;
	}
	.header .logo img {
		height: 40px;
		width: 140px;
		padding: 5px 0;
	}
	
	.header .mobile-menu-button {
		display: block;
	}
}

@media (max-width: 686px) {
	.gallery4-with-image {
		width: 50%;
	}

	.gallery4-with-image.post_4 {
		display: block;
	}
	
	.gallery4-full-image {
		width: 50%;
	}	

	.gallery4-full-image.post_info {
		display: block;
	}
}