/* x-latest-gallery4-post-with-image */
@media (max-width:  970px) {
	.gallery4-with-image.post_4 {
		display: none;
	}

	.gallery4-with-image {
		width: 33.333333333333%;
	}

	.gallery4-full-image.post_info {
		display: none;
	}
	
	.gallery4-full-image {
		width: 33.333333333333%;
	}
	
	.top-wrapper .top ul {
		display: none;
	}
	
	.top-wrapper {
		height: 7px;
	}
	
	.header .main-menu {
		display: none;
	}
	
	.header .logo {
		width: 60%;
		text-align: center;
	}
	.layout .header-wrapper {
		padding: 10px 0;
	}
	.header .logo img {
		height: 40px;
		width: 140px;
		padding: 5px 0;
	}
	
	.header .mobile-menu-button {
		display: block;
	}
	
	.content .post-full-image-wrapper span.image-menu-name {
		width: 16.6666666667%;
	}
}

@media ( max-width: 870px) {
	.content .post-full-image-wrapper span.image-menu-name {
		width: 20%;
	}
}

@media ( max-width: 770px) {
	.content .post-full-image-wrapper span.image-menu-name {
		width: 25%;
	}
}

@media (max-width: 670px) {
	.gallery4-with-image {
		width: 50%;
	}

	.gallery4-with-image.post_4 {
		display: block;
	}
	
	.gallery4-full-image {
		width: 50%;
	}	

	.gallery4-full-image.post_info {
		display: block;
	}
	
	.image-menu-wrapper {
		height: auto;
	}
	
	.content .post-full-image-wrapper .image-menu {
		height: 25px;
		line-height: 140%;
		overflow: hidden;
	}

	.content .post-full-image-wrapper span.image-menu-name {
		width: 33%;
	}

}