/* Content */
.layout .content-wrapper {
	background: #f4f4f4;
}

.layout .content-wrapper .content {

}

.layout .content-wrapper .banner {
	width:100%!important;
	max-width:inherit;
}

.post-full-image {
	display: none;
}

.post-full-image.selected {
	display: block;
}

.content .post-with-image-wrapper {
	padding-bottom: 10px;
	
}

.post-with-image {
	max-width: 970px;
	margin: 0 auto;
}

.image-menu-wrapper {
	/*background: #4e4d52;*/
	text-align: center;
	padding: 10px;
	height: 205px;
}


.image-menu-wrapper .left_arrow, .image-menu-wrapper .right_arrow {
	width: 5%;
	float: left;
	cursor: pointer;
	display: block;
	padding-top: 85px;
}

.image-menu-wrapper .image-menu {
	width: 90%;
	float: left;
	position: relative;
	height: 200px;
}

.image-menu-wrapper .inner {
	height: 200px;
	overflow: hidden;
}

.image-menu .menu-photo {
	position: relative;
	overflow: hidden;
	margin: 10px 0 15px 0;
	width: 105px;
	height: 153px;
}


.image-menu .menu-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(187,141,244,0.7);
	z-index: 100000;
	display: none;
	padding-top: 75px;
}

.image-menu-name .inner.selected .menu-overlay{
	display: block;
}

.content .post-full-image-wrapper {
	padding: 10px 0;
}

.content .post-full-image-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
	t
}

.content .post-full-image-wrapper ul {
	list-style-type: none;
}

.content .post-full-image-wrapper span.image-menu-name {
	display: inline-block;
	float: left;
	width: 14.2857142857%;
	text-align: center;
}

.content .post-full-image-wrapper span.image-menu-name .inner {
	display: block;
	padding: 10px 0;
	cursor: pointer;
	color: #bbbbbb;
	margin: 0 5px;
}

.content .post-full-image-wrapper span.image-menu-name .inner.selected {
	font-weight: bolder;
	color: #ffffff;
}

.content .post-with-image-2-wrapper{

}

.content .post-with-image-2 {
	display: none;
}

.content .post-with-image-2.selected {
	display: block;
}

.content .post-with-image-more {
	margin-top: 7px;
}

.content .post-with-image-2-wrapper .post_6, .content .post-with-image-2-wrapper .post_7, .content .post-with-image-2-wrapper .post_8, .content .post-with-image-2-wrapper .post_9, .content .post-with-image-2-wrapper .post_10 {
	display: none;
}

.content .post-with-image-2-wrapper .post_3.selected, .content .post-with-image-2-wrapper .post_4.selected, .content .post-with-image-2-wrapper .post_5.selected, .content .post-with-image-2-wrapper .post_6.selected, .content .post-with-image-2-wrapper .post_7.selected, .content .post-with-image-2-wrapper .post_8.selected, .content .post-with-image-2-wrapper .post_10.selected  {
	display: block;
}


.image-2-previous, .image-2-next {
	width: 5%;
	float: left;
	padding-top: 1.5%;
	text-align: center;
	cursor: pointer;
	display: none;
}

.post-with-image-more {
	text-align: center;
	background: #d9d9d9;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.post-with-image-2-wrapper .image2-menu-name {
	float: left;
	width: 11.11%;
	position: relative;
}

.post-with-image-2-wrapper .image2-menu-name .menu2_name {
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.post-with-image-2-wrapper .image2-menu-name.selected {
	font-weight: bold;
	background: #ffffff;
	color: #f37567;
}

.post-with-image-2-wrapper .image2-menu-name.selected .menu2_name {
	color: #f37567;
}

.post-with-image-2-wrapper .image2-menu-name .inner {
	cursor: pointer;
}


.post-with-image-2-wrapper .image2-menu-name img {
	width: 100%;
	border-left: solid 1px #eda22e;
}

.post-with-image-2-wrapper .image2-menu-name.first-menu .inner img {
	border: 0;
}

.post-with-image-2-wrapper .image2-menu-name img.active-background {
	display: none;
}

.post-with-image-2-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
	background: #eaeaea;
}

.image-2-menu {
	position: relative;
}

.image2-menu-wrapper {
	margin-bottom: 7px;
}

.content .middle-banner-wrapper .middle-banner {
	max-width: 970px;
	margin: 0 auto;
}

.content .middle-banner-wrapper img {
	width: 100%;
}


.content .latest-comments-wrapper {

}

.latest-comments-wrapper .inner {
	max-width: 970px;
	margin: 0 auto;
}

.latest-comments-wrapper .latest-comments {
	width: 25%;
	float: left;
}

.latest-comments-wrapper .latest-comments .inner {
	background: #4c8ce0;
	margin: 1%;
	color: #ffffff;
	padding: 15px;
}

.latest-comments-wrapper .latest-comments .inner a {
	color: #ffffff;
}

.latest-comments-wrapper .latest-comments .inner span {
	display: block;
}

.latest-comments-wrapper .latest-comments .inner .post-comment {
	height: 100px;
	margin-bottom: 10px;
	line-height: 130%;
	overflow: hidden;
	font-size: 16px;
}

.latest-comments-wrapper .latest-comments .inner .comment-author {
	text-align: center;
}


.content .panel-titles {
	font-size: 20px;
	padding: 15px 10px;
	font-weight: bold;
}

/**bottom posts**/
.bottom-latest-posts .inner .title .top_title{
	display:inline-block;	
	margin-right:30px;
}

.bottom-latest-posts .inner .title .top_title.icon_titles{
	color:#888888;
	font-size:1.3em;
}

.bottom-latest-posts .inner .title .top_title.icon_titles img{
	margin-left:5px;
	position:relative;
	top:-2px;
}

.bottom-latest-posts .inner .post_wrapper .left, .bottom-latest-posts .inner .post_wrapper .right{
	width:50%;
	float:left;
}