.travel_lower_post{
	border:1px solid #bbbbbb;
	height:100%;	
}

.travel_lower_post_title{
	font-weight:bold;
	padding:10px 10px 5px 10px;
	border-bottom:1px solid #bbbbbb;
}

.travel_lower_post_title  a{
	font-weight:normal;
	color:#808080;
	font-size:.8em;
	float:right;
	margin:3px 10px 0 0;
	text-decoration:none;
}

.travel_lower_post_title .icon{
	position:relative;
	top:-2px;
	margin-right:2px;
}

.travel_lower_items{
	padding:10px;
}

.travel_lower_items .item{
	margin-bottom:11px;
}

.travel_lower_items .item.no-margin{
	margin-bottom:0;
}

.travel_lower_items .other-info{
	color:#7f7f7f;
	font-size:.8em;
	margin-left:17px;
}

.travel_lower_items .other-info .separator{
	margin:0 5px;
}

.travel_lower_items .item .subject .new{
	float:right;
}

.travel_lower_items .item .subject .bullet{
	position:relative;
	top:-2px;
	margin-right:8px;
}