.travel_lower_post{
	border:1px solid #bbbbbb;
	height:100%;	
}

.travel_lower_post_title{
	font-weight:bold;
	padding:8px 10px 4px 10px;
	border-bottom:1px solid #bbbbbb;
	background-color:#fafafa;
}

.travel_lower_post_title .board_subject{
	display:inline-block;
	width:170px;
	overflow:hidden;
	white-space:nowrap;
}

.travel_lower_post_title  a{
	font-weight:normal;
	color:#808080;
	font-size:.8em;
	float:right;
	margin:3px 10px 0 0;
	text-decoration:none;
}

.travel_lower_post_title .icon{
	position:relative;
	top:-5px;
	margin-right:2px;
}

.travel_lower_items{
	padding:0 10px;	
}

.travel_lower_items .item{	
	border-bottom:1px solid #bbbbbb;
	padding:7px 0 8px 0;
}

.travel_lower_items .item .comments{
	float:right;
	color:#cc4235;
}

.travel_lower_items .item.no-margin{
	margin-bottom:0;	
}

.travel_lower_items .item .subject a{
	text-decoration:none;
}

.travel_lower_items .item .subject .bullet{
	position:relative;
	top:-2px;
	margin-right:8px;
}