.community-posts {
	border: solid 1px #0d98ba;
	border-top: 0;
	margin-top: 10px;
	border-radius: 3px;
	font-family: Gulim, Arial;
	min-height: 200px;
}

.community-posts .title {
	background: #1f9ebd;
	height: 14px;
	border-top: solid 2px #51b6ce;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 4px 4px 10px 4px;
	font-family: Arial, Gulim;
	font-size: 0.9em;
	color: #ffffff;
	font-weight: bold;
}

.community-posts .title a {
	text-decoration: none;
	color: #ffffff;
}

.community-posts .title .label {
	text-transform: uppercase;
}

.community-posts .title .title-left > div {
	display: inline-block;
}

.community-posts .posts-items {

}

.community-posts .posts-items ul {
	padding: 0 10px 0 30px;
	list-style: square;
}

.community-posts .posts-items ul li {
	padding-bottom: 10px;
}

.community-posts .posts-items ul li a {
	text-decoration: none;
}

.community-posts .posts-items ul li a > div {
	display: inline-block;
	vertical-align: top;
}
.community-posts a .subject {
	overflow: hidden;
}

.community-posts a .no-of-comments {
	color: #ff0000;
}

.community-posts a .no-of-comments.no-comment {
	color: #9b9b9b;
}

