.travel-package-container {
	margin: 1em 5px 0 0;
	width: 186px;
	display: inline-block;
	vertical-align: top;
	line-height:14px;
}

.travel-package-container.no-margin {
	margin-right:0;
}

.travel-package {
	width: 180px !important;
}

.travel-package a {
	text-decoration: none;
}

.travel-package .travel-title, .travel-package .travel-content, .travel-package .travel-price {
	font-family: Malgun Gothic, Gotum, Arial;
}


.travel-package .travel-title {
	margin: 0.25em 0 0 0;
	font-size: 11pt;
	font-weight: bold;
	color: #5d5d5d;
	height: 2.8em;
	overflow: hidden;
}

.travel-package .travel-image {
	height: 100px;
	margin-bottom:10px;
}

.travel-package .travel-image .img-wrapper{
	width:187px;
	height:104px;
	overflow:hidden;	
}

.travel-package .travel-image .img-wrapper img{
	width:100%;
}

.travel-package .travel-content {
	margin: 10px 0 0 0;
	color: #919191;
	height: 2.5em;
	overflow: hidden;
}

.travel-package .travel-price {
	text-align: center;
	margin: 0.25em 0 0 0;
	color: #979797;
	font-size: 10.5pt;
}

.bottom-panel .travel-packages .title {
	border-bottom: 1px solid #a9a9a9;
	font-size: 11pt;
	font-weight: bold;
	color: #1a1a1a;
	font-family: '맑은 고딕', AppleGothic;
	padding-bottom: 8px;
}
