/**SIDEBAR LEFT*/
.layout .left {
	font-family: Gulim;
}

/**SIDEBAR LOGIN*/
.layout .left .login-sidebar {
	margin-bottom: 10px;
}

/** Contact Information **/
.layout .left .contact-wrapper {
	border: solid 1px #bbbbbb;
	padding: 10px;
	margin-bottom: 10px;
	height: 95px;
	background-color: #1a9fbd;
	color: #ffffff;
	position: relative;
}
.layout .left .contact-wrapper .contact-title {
	margin: 6px 0 12px 0;
}

.layout .left .contact-wrapper .contact-info {
	margin-top: 2px;
}

.layout .left .contact-wrapper .contact-info .contact-num, .layout .left .contact-wrapper .contact-info .contact-hours {
	margin: 0 0 3px 5px;
}

.layout .left .contact-wrapper .contact-info .contact-num span, .layout .left .contact-wrapper .contact-info .contact-hours span {
	display: inline-block;
	width: 70px;
	font-weight: bold;
}
.layout .left .contact-wrapper img {
	position: absolute;
	top: 9px;
	left: 9px;
}
.layout .left .contact-wrapper b {
	margin-left: 50px;
	font-size: 10pt;
}
/**POSTS LEFT 1 */
.layout .left .posts-left-1 {
	margin-bottom: 10px;
}

/**SIDEBARS LEFT (BANNER) */
.layout .left .banner-left {
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
	height:88px;
	overflow:hidden;
	background-color:#e6e6e6;
}

.layout .left .banner-left img {
	width: 100%;	
}

/**EXCHANGE RATE*/
.layout .left .exchange-rate-wrapper {	
	height:168px;
}

.layout .left .exchange-rate-wrapper .title {
	background: #fcfcfc;
	border: solid 1px #d1d1d1;
	padding: 7px 9px;
	color:#333333;
}

.layout .left .exchange-rate-wrapper .title img {	
	margin-right: 10px;
	position:relative;
	top:-2px;
}

.layout .left .exchange-rate{
	
}

.layout .left .exchange-rate table{
	border-bottom:1px dashed #bbbbbb;
	padding:10px 10px 0;
	margin-bottom: 6px;
}

.layout .left .exchange-rate td{
	padding-bottom:13px;
}

.layout .left .exchange-rate td img{
	margin-right:6px;
	position:relative;
	top:-2px;
}

.layout .left .exchange-rate .last-update{
	font-weight:bold;
	font-size:.9em;
	text-align:center;
}