/**SIDEBAR LEFT*/
.layout .left {
	font-family: Gulim;
}

/**SIDEBAR LOGIN*/
.layout .left .login-sidebar {
	margin-bottom: 10px;
}

/** Contact Information **/
.layout .left .contact-wrapper {
	border: solid 1px #bbbbbb;
	padding: 10px;
	margin-bottom: 10px;
	height: 77px;
}

.layout .left .contact-wrapper .contact-info {
	margin: 5px 10px 0 20px;
}

.layout .left .contact-wrapper img {
	margin: -4px 10px 0 10px;
}

/**POSTS LEFT 1 */
.layout .left .posts-left-1 {
	margin-bottom: 10px;
}

/**SIDEBARS LEFT (BANNER) */
.layout .left .banner-left {
	border: solid 1px #bbbbbb;
	margin-bottom: 10px;
	height:88px;
	overflow:hidden;
	background-color:#e6e6e6;
}

.layout .left .banner-left img {
	width: 100%;	
}

/**EXCHANGE RATE*/
.layout .left .exchange-rate-wrapper {
	border: solid 1px #d1d1d1;
	height:168px;
}

.layout .left .exchange-rate-wrapper .title {
	background: #fcfcfc;
	border-bottom: solid 1px #d1d1d1;
	padding: 7px 9px;
}

.layout .left .exchange-rate-wrapper .title img {
	margin-right: 10px;
}

.layout .left .exchange-rate-wrapper .title b {
}

.layout .left .exchange-rate iframe {
	display: block;
	margin: 2px auto 2px auto;
	padding: 0;
}

.layout .left .exchange-rate iframe body {
	width: 220px;
}