.login-box {
	background: #1789a2;
	color: #ffffff;
	height: 99px;
	padding: 7px;
	overflow: hidden;
}
.login-box  input[type='text'], .login-box input[type='password'] {
	width: 96px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
}
.login-box .login-user {
	margin-bottom: 8px;
}

.login-box .register_autologin {
	margin-top: 5px;
	padding: 0 5px;
}
.login-box .register_autologin .login-reg {
	float: left;
}
.login-box .register_autologin .auto_login {
	float: right;
}
.login-box #ol_password_lost {
	margin-left: 6px;
	font-size: 8.7pt;  
}

/* outlogin.skin.2.php */
.logout-community3 {
	padding: 10px;
	position: relative;
	height: 93px;
}

.logout-community3  #ol_after_info {
	background-color: #444444;
	color: #ffffff;
	display: inline-block;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	margin-right: 2px;
}
.logout-community3 .admin-mode {
}

.logout-community3  .admin-mode a{
	margin-right: 10px;
}

.logout-community3  .user-info {
	margin:2px 0;
}
.logout-community3 .no_of_unreaded_message {
	border-radius: 10px;
	display: inline-block;
	width: 11px;
	height: 15px;
	background-color: #444444;
	color: #ffffff;
	padding-left: 4px;
}

.logout-community3 #ol_after_logout {
	display: inline-block;
	width: 80px;
	height: 24px;
	background-color: #0e5565;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.logout-community3  a:hover {
	text-decoration: none;
}