<?xml version="1.0"?>
<config>
	<category>
		<main>forum</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post Latest</en>
		<ko>최근글</ko>
	</name>
	<version>0.2</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest posts.</en>
		<ko>최근글을 표시합니다.</ko>
	</short>
	<detail>
		<en>With options, it displays in many different ways.</en>
		<ko>옵션 설정에 따라서 여러가지 형태로 최근글을 표시합니다.</ko>
	</detail>
</config>
