.post-latest {
	margin-bottom: 1em;
	border: 1px solid #dfdfdf;
}

.post-latest > .title {
	padding: 1em;
	background-color: #dfdfdf;
}

.post-latest .post {
	padding: 1em;
}

.post-latest .post a {
	display:inline-block;
	padding: 0.2em;
}
