<?xml version="1.0"?>
<config>
	<type>widget</type>
	<id>none</id>
	<category>
		<main>etc</main>
	</category>
	<name>
		<en>None</en>
		<ko>없음</ko>
	</name>
	<version>0.2</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays NONE ( empty ) widget.</en>
		<ko>없음 위젯을 표시합니다.</ko>
	</short>
	<detail>
		<en>NONE widget is only displayed to Admin. Use NONE widget not to select widget.</en>
		<ko>
		
			NONE (없음) 위젯은 관리자에게만 보입니다.
			사용자에게 보이지 않게하거나 필요한 경우 사용하시면됩니다.
			
		</ko>
	</detail>
</config>
