<?xml version="1.0"?>
<config>
	<category>
		<main>etc</main>
		<sub>test</sub>
	</category>
	<name>
		<en>Sample Widget</en>
		<ko>샘플 위젯</ko>
	</name>
	<version>0.2</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>This is sample widget.</en>
		<ko>샘플 위젯입니다.</ko>
	</short>
	<detail>
		<en>This is sample widget. Copy this widget and remake your own.</en>
		<ko>샘플 위젯입니다. 본 위젯을 복사해서 사용하십시오.</ko>
	</detail>
</config>
