#header-container{
	font-family: '맑은 고딕', AppleGothic;
	margin-bottom:10px;
}

body, body a {
	font-family: '맑은 고딕', AppleGothic;
}

/** header */

#header-logo {
	padding:0!important;
}

#header-logo{
	height:67px;
}

#header-logo img {
	width: 350px;
	height: 65px;
	margin-top: 10px;
}


/**wrapper*/
#wrapper {
	border: 0 !important;
	width: 970px;
}


/** aside */
#aside {
	width: 210px;
	float: left;
	border: 0 !important;
	margin: 0 10px 0 0;
}

#aside .company-banner {
	background: #fafafa;
	border: solid 1px #0d98ba;
	border-radius: 3px;
}
#aside .company-banner img {
	border-radius: 3px;
	width: 100%;
	height: 90px;
}

#aside .sidebar-banner {
	margin: 10px 0 0 0;
	background: #fafafa;
	border: solid 1px #0d98ba;
	border-radius: 3px;
	padding:6px 9px 8px 9px;
}

#aside .sidebar-banner .sidebar-banner-title {	
	font-weight: bold;
	margin-bottom:10px;
	text-transform: uppercase;
	font-family: '맑은 고딕', AppleGothic;
}

#aside .sidebar-banner img {
	border: solid 1px #0d98ba;
	border-radius: 3px;
	width: 190px;
	height: 158px;
}

/* container */

#container {
	width: 750px;
	border: 0 !important;
	padding: 0 !important;
	word-break: break-all;
}

#container .no-banner {
	font-size:100px;	
	margin:100px 0 0 35px;	
}



#container .banner {
	width: 746px;
	height: 226px;
	overflow: hidden;	
	position: relative;
}

#container .banner-image {
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}

#container .banner-image.selected {
	display: block;
}

#container .banner img {
	width: 100%;
}

#container .banner p {
	position: absolute;
	top: 183px;
	left: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 12pt;
	background: #8a8a8a;
	width: 100%;
}

#container .banner .banner-more {
	position: absolute;
	top: 195px;
	right: 0;
	padding: 0.5em;
	color: #ffffff;
}

#container .banner p span.banner-title {
	font-weight: bold;
}

#container .banner p span.banner-content {
	font-style: italic;
}

#container .top-panel > div {
	display: inline-block;
	vertical-align: top;
}

#container .top-panel > div {
	display: inline-block;
	vertical-align: top;
}

#container .top-panel {
	margin-bottom:10px;
}

#container .top-panel .forum-list {
	width: 301px;
	margin-left: 6px;
	border: solid 1px #d9d9d9;
	border-radius: 2px;
	padding: 1px;
}

#container .top-panel .forum-list .inner{
	background: #f8f8f8;
	height: 332px;
	padding:9px;
}

#container .top-panel.top-panel h2 img {
	margin: 0 0.5em 0 0;
}

#container .middle-panel {
	margin-bottom:10px;
}

#container .middle-panel h2, #container .bottom-panel h2 {
	color: #5d5d5d;
	font-size: 12pt;
	font-family: '맑은 고딕', AppleGothic;
	font-weight: normal !important;
	padding: 0 0 0.5em 0;
	border-bottom: solid 2px #5d5d5d;
}

#container .middle-panel .travel-stories {
	width: 655px;
	height: 240px;
}

#container .bottom-panel {	
	width: 100%;
}

/******************/
#top-menu{
	background: #f7f7f7;
	height: 30px;
	font-size: .9em;	
}

#top-menu .inner a, #top-menu .inner span{
	display:inline-block;
	float:left;
	margin: 8px 4px 8px 4px;
	text-decoration:none;
	color:#717171;
}

#top-menu .inner .customer-support{
	color:#444444;
	position:relative;
	float:right;
	padding-left:15px;
}

#top-menu .inner .customer-support img{
	position:absolute;
	top:2px;
	left:0;
}

#logo-and-search .inner{
	max-width:970px;
	margin:auto;
	position:relative;		
}

#top-menu .inner{
	max-width:970px;
	margin:auto;
}

#logo-and-search{
	background: #ffffff;
	height: 80px;
	border-top: 1px solid #12586d;
	border-bottom: 1px solid #12586d;
	position: relative;
}


#header-search{
	border:0;
	right: 0;
	top: 18px;	
	border: 3px solid #0a657d;
	border-radius: 8px;
	position: absolute;
	background: #fdfdfd;
	padding: 0 0 0 5px;
}

#header-search #search-input {	
	padding: 0 0 0 10px;
	width: 240px;
	height: 40px;
	float:left;
	background: #fdfdfd;
	color:#acacac;
	border: 0;
	font-size: 12pt;
	font-family: '맑은 고딕', AppleGothic;
}

#header-search #search-submit{
	float:left;
	border: 0;
	margin: 5px 5px 0 0;
	color:#f4f4f4;
	background: #086a83;
	width:44px;
	height:29px;
}

#menu-top{
	width: 100%;
	background-color: #096e87;
	border: solid 1px #12586d;
	border-right: 0;
	border-left: 0;
}
#menu-top > .inner {
	width:970px;
	margin: 0 auto;
}
#menu-top ul {
	width: 970px;
	margin: 0 auto;
	list-style:none;
	padding:0;
	margin:0;
	float: left;
}
#menu-top ul  li {
	float: left;
	height: 42px;
	line-height: 42px;
}

#menu-top ul  li a {
	text-decoration: none;
	font-family: '맑은 고딕', AppleGothic;
	font-size: 10pt;
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	float: left;
	border: 1px solid transparent;
	border-radius: 5px;
	position: relative;
	margin: 0 10px;
	margin-top: 4px;
}
#menu-top ul li.comm1-menu a:hover, .comm1-menu a.comm1-menu-selected{
	background: #6b6b6b;
	border:1px solid #464646!important;
}
#menu-top ul li.comm1-menu a .inner {
	border-top: 1px solid transparent;
	border-radius: 5px;
	padding: 0 10px;
}

#menu-top ul li.comm1-menu a:hover .inner {
	border-top: 1px solid #7c7c7c;
}


.footer-info, .footer-info a {
	color: #767676;
}

.footer-info {
	width: 100%;
	background-color: #f3f3f3;
	text-align: center;
	min-height: 50px;
	margin-top: 20px;
}
.footer-info  .inner {
	width: 970px;
	margin: 0 auto;
	padding: 10px 0;
}

/**TOP POSTS*/



/**MIDLE BANNER*/
.middle-panel .middle-banner img {
	width: 746px;
	height: 105px;
	padding: 1px;
	border: solid 1px #0d98ba;
	border-radius: 3px;
}

/**BOTTOM BANNER */
.bottom-panel .bottom-banner img {
	width: 746px;
	height: 136px;
	padding: 1px;
	border: solid 1px #0d98ba;
	border-radius: 3px;
}

/**MIDDLE POSTS*/


/**NOTICE*/
.notice{
	border:1px solid #d5d5d5;
	background-color:#f8f8f8;
	color:#222222;
	font-size: 8pt;
	font-weight:bold;
	padding:10px;
	margin:auto;
	margin-top:10px;
	text-align:center;
	font-family: Arial, Gulim;
}

/**BOTTOM POSTS*/


/**recent posts sidebar */
.posts-recent {
	border: solid 1px #0d98ba;
	border-top: 0;
	margin-top: 10px;
	border-radius: 3px;
	font-family: '맑은 고딕', AppleGothic;
}

.posts-recent .icon{
	position:relative;
	top:-1px;
}

.posts-recent .title {
	height: 14px;
	border-top: solid 2px #51b6ce;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 4px 4px 10px 4px;
	font-family: '맑은 고딕', AppleGothic;
	font-size: 0.9em;
	color: #ffffff;
	font-weight: bold;
	
	background: #1e5799; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjVhNGMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFkOWFiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #1e5799 0%, #25a4c2 0%, #1d9aba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#25a4c2), color-stop(100%,#1d9aba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#25a4c2 0%,#1d9aba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#25a4c2 0%,#1d9aba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#25a4c2 0%,#1d9aba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#25a4c2 0%,#1d9aba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1d9aba',GradientType=0 ); /* IE6-8 */
}

.posts-recent .title a {
	text-decoration: none;
	color: #ffffff;
}
.posts-recent .title .label {
	text-transform: uppercase;
}

.posts-recent .title .title-left > div {
	display: inline-block;
}

.recent-comments-items {
	word-break: break-all;
	padding-right: 10px;
}

.recent-comments-items ul {
	padding-right: 10px;
	padding-left: 20px;
	margin: 0;
	list-style: none;
}
.recent-comments-items ul li {
	margin-bottom: 10px;
}

.recent-comments-items ul li.last-comment {
	margin-bottom: 0;
}

.recent-comments-items ul li a {
	text-decoration: none;
}
.posts-recent-items {
	padding: 10px;
	height:238px;
}

.posts-recent-items ul {
	margin: 0;
	padding: 0;
	word-break: break-all;
	list-style: none;
}
.posts-recent-items ul li {
	
	position:relative;
}
.posts-recent-items ul li img{	
	position:absolute;
	top:3px;
	left:0;
}

.posts-recent-items .post-content{
	margin:0 0 10px 10px;	
	height:38px;
	line-height:13px;
	overflow:hidden;
}

.posts-recent-items ul li.last-comment {
	margin-bottom: 0;
}

.posts-recent-items ul li a {
	text-decoration: none;
}

.posts-recent .time-ago {
	color: #9b9b9b;
	text-transform: uppercase;
}

.recent-comments-items {
	padding: 10px 14px 10px 9px;
	height:289px;
}

.recent-comments-items .comment-image, .recent-comments-items .comment-items{
	float:left;
}

.recent-comments-items .comment-items a {
	text-decoration: none;
}

.recent-comments-items .comment-items {
	margin-bottom: 10px;
	width:149px;	
	margin-left:11px;
	line-height:13px;
	height:40px;
	margin-bottom:17px;
}
.recent-comments-items .comment-items.last-item {
	margin-bottom: 0;
}


.posts-recent-items .no-of-recent-comments {
	color: #ff7538;
}

.posts-recent-items .no-of-recent-comments.no-comment {
	color: #9b9b9b;
}


/***recent-comments-items-small**/
.recent-comments-items-small{
	padding:10px 11px;
	height:89px;
}

.recent-comments-items-small ul{
	list-style:none;
	padding:0;
	margin:0;
}

.recent-comments-items-small ul li{
	position:relative;
	padding-left:13px;
	margin-bottom:4px;
}

.recent-comments-items-small ul li img{
	position:absolute;
	top:4px;
	left:0;
}

.recent-comments-items-small ul li a{
	text-decoration:none;
}

/**community posts for middle (diff height)**/
#container .middle-panel .community-posts, #container .middle-panel .posts{
	height:339px;
}
/******************************************/

/***bottom community latest posts (diff height)***/
#container .bottom-panel .community-posts, #container .bottom-panel .posts{
	height:200px;
}
