
.list iframe {
	width: 100%;
	min-height: 768px;
	border: 0;
}


.theme-list {
	font-size: 9pt;
}

.theme-list .theme {
	width: 45%;
	float: left;
}
.theme-list .theme img {
	width: 100%;
}


/* admin_theme_installed */
.installed .theme {
	float: left;
	margin: 1em;
	width: 45%;
}
.installed .theme img {
	width:100%;
}



/* admin ftp delete */

.admin-ftp iframe {
	width: 100%;
	min-height: 768px;
}

/* admin ftp install */
.ftp_install img {
	display: none;
}

