.forum-tab {
	
}


.forum-tab .a, .forum-tab .b, .forum-tab .c, .forum-tab .d {
	float: left;
	width: 25%;
}



.forum-tab-inner {
	margin: 0 0.2em;
	border: 1px solid #cdcdcd;
}

.forum-tab .a .forum-tab-inner {
	margin-left: 0;
}
.forum-tab .d .forum-tab-inner {
	margin-right: 0;
}


.forum-tab-inner .subject {
	margin: 0.8em 0;
	height: 1.2em;
	overflow: hidden;
}

	.forum-tab .a {
		width: 99.9%;
		float: none;
		margin-bottom: 0.5em;
	}
	.forum-tab .b, .forum-tab .c {
		width: 50%;
	}
		.forum-tab .d {
		display: none;
	}
	
@media all and ( min-width: 25em ) {
	.forum-tab .a, .forum-tab .b, .forum-tab .c {
		float:left;
		width: 33.33%;
	}
}


@media all and ( min-width: 50em ) {
	.forum-tab .d {
		display: block;
	}
	.forum-tab .a, .forum-tab .b, .forum-tab .c, .forum-tab .d {
		width: 25%;
	}
}
