/**mobile search**/
.top-below-640-px {
	background-color:#fafafa;
	
}

.top-below-640-px  .logo{
	width:17.5em;
	display:inline-block;
	margin:10px 0;
}

.top-below-640-px  .contact_and_search{
	width:27.5em;
	display:inline-block;	
	float:right;
	margin-top:10px;	
}

.top-below-640-px  .contact_and_search .contact{
	color:#e64343;
	font-weight:bold;
	font-size:.9em;
	margin-bottom:3px;
	text-align:right;
}

.top-below-640-px  .contact_and_search .search{
	text-align:right;
	margin-right:5px;
}

#header .top-below-640-px  .search form{
	border:1px solid #345184;	
	
}

#header .top-below-640-px  .search .key,  #header .top-below-640-px  .search .submit {
	font-family: Gulim,GulimChe,Dotum;
	font-size: 1em;
	padding: .9em;
	border:0;
	box-shadow:0 3px 0 0 #e8e8e8 inset;
}
#header .top-below-640-px  .search .key {
	width:17.2em;
	padding:1em;
}
#header .top-below-640-px  .search .submit {
	background-color: white;	
}

/**visitor stats**/
.top-below-640-px  .contact_and_search .visitor-stats{
	position:relative;
}

.top-below-640-px  .contact_and_search .visitor-stats .visit-button{
	cursor:pointer;
	width:38px;
	height:38px;
	border:1px solid #345184;	
}

.top-below-640-px  .contact_and_search .visitor-stats .visit-button img{
	position:absolute;
	left:8px;
	top:8px;	
}

.top-below-640-px  .contact_and_search .visitor-stats #visit{
	position:absolute;
	right:0;
	top:45px;
	display:none;
	z-index:999;
}

/* menu */
#header .mobile-menu {	
	display:none;
}
#header .mobile-menu .inner {
	margin:0 auto;
	max-width: 970px;
	background-color:#345184;
}
#header .mobile-menu .inner ul {
	list-style:none;
	margin:0 auto;
	padding:0;	
	height:80px;
	width:97%;
}

#header .mobile-menu .drop-down ul {
	list-style:none;
	margin:0 auto;
	padding:0;
}

#header .mobile-menu ul li.menu_item {
	display:inline-block;
	float:left;
	width:14.28%;
	text-align:center;
}
/*log in menu*/
#header .mobile-menu ul li.menu_item.log-in-button {
	position:relative;	
}

#header .mobile-menu ul li.menu_item  a > img{
	display:block;
	margin:0 auto 4px auto;
}

#header .mobile-menu ul li.menu_item .label{
	text-align:center;
	font-size:1.3em;	
}

#header .mobile-menu ul li.menu_item > a{	
	display:block;
	height:50px;
	padding: 6px 0 24px 0;
	line-height:24px;
	padding: 6px 0 24px 0;	
	overflow:hidden;
	word-break:break-all;
	text-decoration:none;	
}

#header .mobile-menu ul li.menu_item > a.selected{	
	background-color:#2a426b;
}

#header .mobile-menu ul li.menu_item a:hover{
	background-color:#2a426b;
}

#header .mobile-menu ul li.menu_item .all-menu {
	display:none;
}

/**drop-down-menu**/
#header .mobile-menu .drop-down{
	width:97%;
	margin:auto;
	background-color:#2a426b;
	display:none;
	padding-bottom:10px;
}

#header .mobile-menu .drop-down ul{
	padding:10px 10px 10px 10px;
}

#header .mobile-menu .drop-down li{
	border:1px solid #5b90eb;
	background-color:#345184;
	padding:8px;
	margin-bottom:10px;
}

#header .mobile-menu .drop-down li.no-margin{	
	margin-bottom:0;
}

#header .mobile-menu .drop-down li a{	
	text-decoration:none;
}

#header .mobile-menu .drop-down .close-dropdown{			
	border:1px solid #162238;
	background-color: #203252;
	margin:0 10px 0 10px;
	cursor:pointer;
}

#header .mobile-menu .drop-down .close-dropdown .label{		
	color:#ffffff;
	display:inline-block;
	padding:10px;
}

/**pop-up-login**/
#header .mobile-menu .pop-up-login{
	display:none;
	width:96.8%;	
	margin:auto;
	overflow:hidden;
}


/**500px**/
.top-below-500-px{
	display:none;
}

.top-below-500-px .logo{
	width:43.5%;
	float:left;
	margin-top:10px;
}

.top-below-500-px .logo img{
	width:100%;
}

.top-below-500-px .search-button{
	float:left;
	width:13%;
	text-align:right;	
	position:relative;
	margin-bottom:10px;
}

.top-below-500-px .search-button img{
	cursor:pointer;
}

.top-below-500-px .search-button .triangle{
	position:absolute;
	right:20px;
	bottom:-5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #345184;
	display:none;
}

.top-below-500-px .search-button img{
	background-color:#345184;
	padding:13px;
}

.top-below-500-px .visit-button{
	float:left;
	width:43.5%;
	text-align:right;	
	position:relative;
	margin-bottom:10px;
}

.top-below-500-px .visit-button img{
	cursor:pointer;
}

.top-below-500-px .visit-button .triangle{
	position:absolute;
	right:20px;
	bottom:-5px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #345184;
	display:none;
}

.top-below-500-px .visit-button img{
}

.top-below-500-px .search{
	position:relative;	
	display:none;
}

.top-below-500-px .search input{
	border:0;
}

.top-below-500-px .search .key{
	border:0;
	border:1px solid #345184;
	box-shadow:0 3px 0 0 #e8e8e8 inset;
	width:94.3%;
	padding:15px 2.3%;
	margin:0 0 10px .3%;
	font-size:1.2em;
	background-color:#fafafa;
}

.top-below-500-px .search input.submit{
	background-color:#345184;
	box-shadow:0 1px 0 0 #8395b3 inset;
	border:1px solid #2a426b;
	padding:6px 17px;
	color:#ffffff;
	font-size:1.2em;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
}


.top-below-500-px .visit-stats {
	display: none;
}