body {
	margin:0;
	padding:0;
	font-size: 9pt;
}
img {
	border: 0;
}
#header, #footer {
	color:white;
}
#header a, #footer a {
	color:white;
}

#header .bottom a {
	display:inline-block;
	padding: 4px;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: #f9f9f9;
	opacity: 0.9;
	box-shadow: 0.5px 0.5px 2px #cdcdcd;
	color: black;
	text-decoration:none;
	text-align:center;
}
#header .top {
	padding: 10px;
}
#header .bottom {
	padding: 10px;
	background-color: #909090;
}
#content {
	width: 100%;
	border: 0;
	min-height: 1024px;
}

#footer {
	background-color: black;
	padding: 10px;
}

#login-box {
	display:none;
}
