body {
	margin:0 auto;
	padding:0;
	font-size: 9pt;
	font-family: Malgun Gothic,맑은고딕,Gulim,GulimChe,Dotum;
	background-color: #e9e9e9;
}
a {
	font-family: Malgun Gothic,맑은고딕,Gulim,GulimChe,Dotum;
}
img {
	border: 0;
}
a {
	text-decoration:none;
}
#header, #footer {
	color:white;
}
#header a, #footer a {
	color:white;
}

#header .top {
	max-width: 970px;
	margin: 0 auto;
}

#header .bottom {
	padding: 10px;
	background-color: #909090;
}
#footer {
	margin: 2em 0 0;
	padding: 2.4em;
	background-color:#345184;
	text-align: center;
}


#login-box {
	display:none;
	border: 1px solid grey;
	margin: 0.5em 0.8em;
	padding: 1.75em 1.75em 1em 1.75em;
	background-color: #efefef;
	border-radius: 2px;
}

#login-box .ol {
	margin: 0!important;
}


/* menu */
#header .menu {
	background-color:#345184;
}
#header .menu .inner {
	margin:0 auto;
	max-width: 970px;
}
#header .menu ul {
	list-style:none;
	margin:0 auto;
	padding:0;
	width: 100%;
}
#header .menu ul li {
	display:inline-block;
}
#header .menu ul li a {
	display:inline-block;
	padding: 1em;
	width: 100%;
}
#header .menu ul li.all-menu {
	display:none;
}


/* mobile-menu */
#header .mobile-menu {
	display:none;
	padding: 0.4em;
	background-color: black;
}
#header .mobile-menu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#header .mobile-menu ul li {
	display:inline-block;
	margin: 0.2em 0;
	text-align:center;
}

#header .mobile-menu ul li a {
	display:inline-block;
	padding: 1em;
	background-color: white;
	color: black;
}
#header .mobile-menu .icon {
	margin-bottom: 0.4em;
}


/* #header .top */

#header .top {
	padding: 10px;
}
#header .top .logo {
	float: left;
}
#header .top-below-500-px {
	display:none;
}
#header .top-below-500-px img {
	width: 100%;
	height: auto;
}

/* search */
#header .top .search {
	float: right;
}

#header .top .search .key,  #header .top .search .submit {
	font-family: Gulim,GulimChe,Dotum;
	font-size: 1em;
	padding: 0.8em;
	border: 2px solid grey;
}
#header .top .search .key {
	width:20em;
}
#header .top .search .submit {
	background-color: grey;
	color: white;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
}





/* #header .submenu */
#header .submenu {
	margin: 0 auto;
	max-width: 970px;
}
#header .submenu ul {
	list-style:none;
	margin: 0;
	padding: 0;
	background-color: #d8d8d8;
	text-align:center;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#header .submenu li {
	display: inline;
}
#header .submenu li a {
	display: inline-block;
	color: #292929;
	padding: 0.75em 0.5em;
}

/* #content */

#content {
	margin: 1em 0;
}

#content > .inner {
	max-width: 970px;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content .gallery {
	margin-bottom: 1em;
}
#content .gallery .post {
	margin: 0 0.2em;
}
#content .gallery .post[no='1'] {
	margin-left: 0;
}
#content .gallery .post[no='4'] {
	margin-right: 0;
}

/* latest */
.latest-thumbnail > .left {
	width: 50%;
	float:left;
}
.latest-thumbnail > .left > .inner {
	margin-right: 0.8%;
}
.latest-thumbnail > .right {
	width: 50%;
	float:left;
}
.latest-thumbnail > .right > .inner {
	margin-left: 0.8%;
}


/* sidebar */
#sidebar {
	margin-right: 10px;
	width: 210px;
	min-height: 500px;
	background-color: grey;
}


/* #data */
#data {
	width: 100%;
	background-color: #ededed;
}

/* below 960 px */
@media all and ( max-width: 60em ) {
	#content {
		padding: 0.4em;
	}
	.submenu {
		margin-right: 1em !important;
		margin-left: 1em !important;
	}
}





/* below 640 px */
@media all and ( max-width: 40em ) {
	#header .top .search .key{ width: 16em; }
	#sidebar {
		display:none;
	}
	#data {
		margin-left: 0;
	}
	
	#header .menu {
		display:none;
		padding: 0.8em 0;
	}
	#header .menu ul li {
		display:block;
		margin: 0.4em;
		border: 1px solid white;
		border-radius: 4px;
		background-color: #385c9c;
	}
	#header .mobile-menu {
		display:block;
	}
	
	#header .top {
		display:none;
	}
	#header .top-below-500-px { display:block; }
	
	.lt_more {
		display:none;
	}
	
}
@media all and ( min-width: 40em ) {
	#header .menu {
		display: block !important;
	}
	#header .menu ul li.all-menu {
		display:none !important;
	}
}
/* below 600 px */
@media all and ( max-width: 37.5em ) {
	#header .top {
		height: 60px;
		padding: 0;
		overflow:hidden;
	}
	#header .top .search .key{ width: 14em; }
}
/* below 500 px */
@media all and ( max-width: 31.25em ) {

}
/* below 480 px */
@media all and ( max-width: 30em ) {
	.submenu .visitor , .submenu .new{
		display: none !important;
	}
	/* latest */
	.latest-thumbnail > .left {
		width: 100%;
		float:normal;
		margin-bottom: 1em;
	}
	.latest-thumbnail > .left > .inner {
		margin-right: 0;
	}
	.latest-thumbnail > .right {
		display:none;
	}
}
