
body {
	margin:0 auto;
	padding:0;
	font-size: 9pt;
	font-family: Gulim,GulimChe,Dotum;
}
img {
	border: 0;
}
a {
	text-decoration:none;
}
#header, #footer {
	color:white;
}
#header a, #footer a {
	color:white;
}

#header .top {
	max-width: 970px;
	margin: 0 auto;
}

#header .bottom {
	padding: 10px;
	background-color: #909090;
}
#footer {
	background-color:#345184;
	padding: 10px;
	text-align: center;
}

#content .inner {
	margin-top: 1em;
	margin-bottom: 1em;
}


#login-box {
	display:none;
	border: 1px solid grey;
	margin: 0.5em 0.8em;
	padding: 1.75em 1.75em 1em 1.75em;
	background-color: #efefef;
	border-radius: 2px;
}

#login-box .ol {
	margin: 0!important;
}


/* menu */
#header .menu {
	background-color:#345184;
	overflow:hidden;
}
#header .menu ul {
	list-style:none;
	margin:0 auto;
	padding:0;
	width: 970px;
	height: 2.8em;
	overflow:hidden;
}
#header .menu ul li {
	display:inline-block;
}
#header .menu ul li a {
	display:inline-block;
	padding: 10px;
	text-align:center;
}
#header .menu ul li {
	border-left: 1px solid white;
}
#header .menu ul li:first-child{
	border-left: 0;
}

/* #header .top */

#header .top {
	padding: 10px;
}
#header .top .logo {
	float: left;
}
#header .top-below-500-px {
	display:none;
}
#header .top-below-500-px img {
	width: 100%;
	height: auto;
}

/* search */
#header .top .search {
	float: right;
}

#header .top .search .key,  #header .top .search .submit {
	font-family: Gulim,GulimChe,Dotum;
	font-size: 1em;
	padding: 0.8em;
	border: 2px solid grey;
}
#header .top .search .key {
	width:20em;
}
#header .top .search .submit {
	background-color: grey;
	color: white;
}

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding: 0 !important;
	border: 0 none !important;
}





/* #header .submenu */
#header .submenu {
	display:none;
}
#header .submenu ul {
	list-style:none;
	margin: 0;
	padding: 0;
	background-color: #ecf0f7;
	text-align:center;
}
#header .submenu li {
	display: inline;
}
#header .submenu li a {
	display: inline-block;
	color: #292929;
	padding: 0.75em 0.5em;
}

/* #content */

#content {
	margin: 1em 0;
}

#content .inner {
	max-width: 970px;
	margin: 0 auto;
}




/* sidebar */
#sidebar {
	width: 210px;
	min-height: 500px;
	background-color: grey;
}


/* #data */
#data {
	width: 100%;
}


/* below 640 px */
@media all and ( max-width: 40em ) {
	#header .submenu { display: block; }
	#header .top .search .key{ width: 16em; }
	#sidebar {
		display:none;
	}
	#data {
		margin-left: 0;
	}
}
/* below 600 px */
@media all and ( max-width: 37.5em ) {
	#header .top {
		height: 60px;
		padding: 0;
		overflow:hidden;
	}
	#header .top .search .key{ width: 14em; }
}
/* below 500 px */
@media all and ( max-width: 31.25em ) {
	#header .top {
		display:none;
	}
	#header .top-below-500-px { display:block; }
}

