.layout .header .search_and_top_wrapper{
	float:right;
	position:relative;
	text-align:right;
}

.layout .header .search_and_top_wrapper form[name='gallery_1_search_form']{
	
}

.layout .header .search_and_top_wrapper #gallery_1_search_text{
	border:2px solid #ff8866;
	float:left;
	height:36px;
	padding:0 10px;
	width:375px;
}

.layout .header .search_and_top_wrapper #gallery_1_search_submit{
	background-color:#ff8866;
	padding:8px 10px 8px 8px;
	float:left;
}