 .travel-2-posts {
	border: solid 1px #bbbbbb;
	white-space: nowrap;
	height: 318px;
}

.travel-2-posts span.label {
	display: inline-block;
	width: 100px;
	overflow: hidden;
	vertical-align: middle;
}
 .travel-2-posts a {
	text-decoration: none;
}

 .travel-2-posts .content-community-3 {
	display: inline-block;
	width: 130px;
	overflow: hidden;
}

 .travel-2-posts .title {
	padding: 3px 5px 3px 5px;
	background: #f7f7f7;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	font-size: 12px;
}
 .travel-2-posts .title .posts-more a {
	color: #808080;
}

 .travel-2-posts .title img {
	margin: 0 7px 0 0;
}

 .travel-2-posts .travel-2-posts-items {
	padding: 5px 10px 10px 10px;	
}

 .travel-2-posts .travel-2-posts-items .posts-square {
	font-size: 10px;
}

 .travel-2-posts .travel-2-posts-items .no-of-comments {
	color: #ff0000;
	font-size: 11px;
}
